[2017-06-15 01:37] vsoch opened #1 "add functions for pixel cleaning of dicom"

[2017-06-15 01:37] vsoch opened #2 "add nifti module"
it should use [pydeface](https://github.com/poldracklab/pydeface) for pixel cleaning

[2017-06-15 01:38] vsoch opened #3 "interactive web interface for generating deid files"
the user should be able to interactively generate a spec file to say how he/she wants his deidentification task to be done. For the SOM, we can point users here to generate, and then associate their spec files with the pipelines they have us doing.

[2017-06-16 20:24] vsoch opened #4 "add %labels section for user/creator to add any custom metadata for applications"

[2017-06-18 01:38] vsoch commented on #4
this has been added, although won't be on pip unless I write some tests... :p

[2017-06-18 01:38] #4 closed

[2017-06-18 01:38] vsoch opened #5 "need tests!"
totally unacceptable, @vsoch!

[2017-06-18 23:59] vsoch commented on #5
done!

[2017-06-18 23:59] #5 closed

[2017-06-22 03:04] vsoch opened #6 "need to remove private tags too!"
eg

[code]

[2017-07-28 21:42] vsoch opened #7 "Add function to perform JITTER"
a Jitter of a timestamp means taking a variable field, to be used to jitter one or more fields. For example:

[code]
Would say to find the field `InstanceCreationTime` and jitter it by the number in the variable `item_timestamp`

[2017-07-30 20:05] vsoch opened #8 "add custom "endswith:" filter for fields"
instead of the following:

[code]

I should be able to do:

[code]

to apply the same filter over all fields that end with (and start with) the term of interest.

[2017-07-30 20:19] vsoch commented on #8
oh yeah, this is cool :)

Function:
[code]
Usage, endswith
[code]
Usage, startswith

[code]

[2017-07-30 21:01] #8 closed

[2017-08-07 16:02] #7 closed

[2017-08-07 16:02] #6 closed

[2017-08-07 16:03] vsoch opened #9 "identifier for image should be file"
I'm not comfortable with the fact that the API returns an entity id that is different than what goes in (without the original slash) as this is bound to lead to some error. We need to index the data on something that doesn't change until the end that further is one identifier per image, file name is reasonable to try.

[2017-08-10 22:09] #9 closed

[2017-08-31 04:47] vsoch opened #10 "add filters to deid spec"

[2017-09-01 04:15] vsoch opened #11 "client testing for filters"

[2017-09-01 23:22] vsoch opened #12 "add logic for within line testing"
eg, a filter might have a check in parentheses:
[code]
So we need to evaluate the first parens first!

[2017-09-03 05:06] vsoch commented on #10
this will be closed when development is merged

[2017-09-20 22:53] regoldman opened #13 "Interface for quarantined images"

[2017-09-20 22:54] regoldman opened #14 "Whitelist filter build out"

[2017-09-20 22:54] regoldman opened #15 "Image mask verification for graylist images"

[2017-09-20 22:54] regoldman opened #16 "OCR for blacklist images"

[2017-09-20 22:55] regoldman opened #17 "Finalize PHI list for DICOM header tags"

[2017-09-20 22:55] regoldman opened #18 "Finalize scope of anonymization data"

[2017-09-20 22:55] regoldman opened #19 "Interleaving of non-unique series numbers"

[2017-09-20 22:55] regoldman opened #20 "FairShare Specification/Implementation"

[2017-09-20 23:00] vsoch commented on #16
Note that I started a project that aims to do this - https://github.com/pydicom/dicom-scraper

This would be a prime project for a graduate student or similar - it's well scoped machine learning, with plenty of data for development. @regoldman do you have a pool (or can announce at some meeting the need) for a graduate student that might be interested? I can offer to container-ize / tool-ize a sui

[2017-09-20 23:01] vsoch commented on #19
Could you write out a bit of what you are referring to? I understand the idea of non unique series numbers, but not what you mean by interleaving.

[2017-09-20 23:02] vsoch commented on #14
Note that the current whitelist in master branch is not what we are using - the complete code you want to look at is under development. Eg, here is the data folder where `deid.dicom.whitelist` used to live:

https://github.com/pydicom/deid/tree/development/deid/data

[2017-09-20 23:04] vsoch commented on #20
Is this what you mean? --> http://docs.adaptivecomputing.com/9-0-3/MWM/Content/topics/moabWorkloadManager/topics/fairness/fairshare.html Could you tell me more?

[2017-09-20 23:05] vsoch commented on #17
For reference, the base we use is at:

https://github.com/pydicom/deid/blob/development/deid/data/deid.dicom

under the `%header` section.

[2017-09-20 23:08] vsoch commented on #15
Graylist means we have identified an image that we know the pixel coordinates of the PHI, and we can replace. So this is referring to a validation of a method to:

 - produce a set of graylist images
 - perform masking on known coordinates
 - visually verify accuracy, including accuracy of boxes (coordinates), along with images that were not flagged with graylist. Eg: both graylist and not graylis

[2017-09-20 23:36] regoldman commented on #19
Data deleted in initial trial of Vital dataset, including Series Instance UID (0020,000e), caused DICOM viewers to mix series with the same Series Number (0020,0011). A proposed solution was to clean Series Instance UID (0020,000e) instead of deleting.

Proposed change needs verification.

Clean per DICOM sup 142: replace with values of similar meaning known not to contain 226 identifying informat

[2017-09-21 00:34] vsoch commented on #19
Ah, yes! Thank you for the clarification. I do remember @susanweber mentioned this, and we should be able to implement easily for the next refactor of the DASHER endpoint.

[2017-09-29 04:36] vsoch opened #22 "check out tag issue"
This seems to be a common issue:

[code]

[2017-11-20 20:38] vsoch opened #23 "create recipe generation interface"

[2017-12-14 17:52] vsoch opened #26 "[cleaner] png and pdf output should be grayscale"

[2017-12-14 19:47] #26 closed

[2017-12-21 00:47] BrianKolowitz opened #29 "ignoring user specified deid configuration"
If i specify a deid file, why do you append the default 'dicom' file? it overrides my preferences. for instance i'd like to specify my own patientid in my deid file, but your 'dicom' default file removes it

in my deid.dicom file i'd like to have the following override your base configuration

[code]

my "fix" is in header.py
[code]

possible resolutions seem to be
a) allow the user specified conf

[2017-12-21 01:53] vsoch opened #31 "[priority] add CHANGELOG"
we need to be very on top of keeping track of changes, and making changes to development that coincide with particular versions.

[2017-12-21 15:42] vsoch commented on #29
This has been fixed with #30

[2017-12-21 15:42] #29 closed

[2017-12-21 15:43] vsoch commented on #11
We completed this, more testing should / will come in some form of paper.

[2017-12-21 15:43] #11 closed

[2017-12-21 20:11] #31 closed

[2017-12-21 20:14] vsoch commented on #20
I'm not sure this is relevant to this resource - it sounds more appropriate for the pipeline / infrastructure that is using deid. Closing, please re-open if there is issue and/or to provide more detail.

[2017-12-21 20:14] #20 closed

[2017-12-21 20:15] vsoch commented on #10
This is done.

[2017-12-21 20:15] #10 closed

[2017-12-22 16:55] BrianKolowitz opened #33 "Applying whitelist and blacklist filters"
Hi, I have a question regarding the filter section of my config and my source code.  In my configuration https://github.com/BrianKolowitz/deid/blob/development/my_examples/deid/deid.dicom I specify a whitelist
[code]

in my code https://github.com/BrianKolowitz/deid/blob/development/my_examples/dicom/my_deid.py i specify the configuration
[code]
but i see images with modalities PR and RG in my out

[2017-12-22 17:18] vsoch commented on #33
hey @BrianKolowitz ! The library is agnostic to the names of the filters, actually. The ones we are using (whitelist, blacklist, greylist) correspond with different actions that we implement. For example:

 - *whitelist*: we most it through, it likely doesn't have burned in pixels
 - *blacklist*: definitely has burned in pixels, quarantine
 - *greylist*: not sure, a human needs to look over and po

[2017-12-22 20:42] BrianKolowitz commented on #33
Thanks. Is there a way to accomplish this in one line?

[code]
I'd like to specify something like this
[code]
so I don't have to be exhaustive in the modalities I list

[2017-12-22 21:27] vsoch commented on #33
Could you write out in (people terms) what you are trying to do - basically "not in Modality CR or DX?" There should be a notequals, so like:

[code]

The whole list of filters are:

[code]
The stuff on the right side is all regular expressions, so whatever regular expression string you might use is fair game! if there is a filter that you think would be useful to add, let's add it!

[2017-12-22 22:09] BrianKolowitz commented on #33
I think it's fine for my current needs, I'm trying to include only CR OR DX.

[2017-12-23 00:40] #33 closed

[2017-12-23 15:48] vsoch opened #36 "Break deid specification into its own class"
see discussion in #35

[2018-01-05 21:46] BrianKolowitz opened #39 "items and lists"
I find it a bit confusing that I can past an item or a list into many methods and always get a list back in return. This pattern is reflected many times throughout the code

[code]

[code]
etc. I think it would be cleaner if the methods only took lists as arguments.

[2018-01-05 21:51] vsoch commented on #39
It's important that we are extremely consistent with regard to output, and very flexible for input. I think that it's very likely that a user will give a single file name, eg:

[code]
And for both these use cases, the function should work equivalently and the user should get the same (consistent) output. Since we are dealing with functions that (typically) operate on multiple things (lists) I woul

[2018-01-06 14:13] #39 closed

[2018-01-06 14:14] BrianKolowitz commented on #39
i think it's fine either way. I chased a bug for a while because I passed in a single file and got a list containing a single file in return which I didn't expect but do find acceptable.

[2018-01-19 08:59] johannesu opened #44 "Support for duplicate DICOM file names"
In the function `deid.dicom.get_identifiers` the dicom files are identified only by the file name.

This leads to hard to find bugs if you are trying to deidentify several series at the same time.

E.g.
Suppose you have two series

[code]

And you wish to update the Series Instance UID.

Following the example code you may write something like this

[code]

Then both images would get the same insta

[2018-01-19 13:41] vsoch commented on #44
The full path to the file name would distinguish between seriesA and seriesB, the idea isn't to have those two images be the same, but different.

[2018-01-19 14:11] johannesu commented on #44
Maybe I misunderstand how the functions are meant to be used.  But `get_identifiers` remove the full path.

`item_id = os.path.basename(dicom_file)`

is used to index the files.

[2018-01-31 14:46] vsoch commented on #44
hey @johannesu ! Apologies for the delay, it's been a busy month. I agree about not removing the full path, and think that removing that line would resolve the issue. Would that resolve it for you as well? I can make a PR for you to test, if you like.

[2018-01-31 14:58] vsoch commented on #44
@johannesu just to be clear - you are suggesting to have get_identifiers use the full path as the index?

[2018-01-31 16:17] johannesu commented on #44
Yes, I think that would be a better solution.

[2018-02-01 07:57] johannesu commented on #44
Resolved in #46

[2018-02-01 07:57] #44 closed

[2018-03-21 13:17] BrianKolowitz opened #47 "Issue with full path names?"
I updated to the latest version and my code broke. I'm using the full file path as the key for the ids dictionary.

``` if idx in ids:``` breaks b/c idx is the basename but my keys are the full path

a) is this a bug?
b) (or) do i need to modify my code to remove the path from the ids keys

# header.py
[code]

[2018-03-21 13:41] vsoch commented on #47
yes I think that is a bug - I just opened a PR with a fix to test! https://github.com/pydicom/deid/pull/48

[2018-04-20 14:53] petkaze opened #49 "Example used with current source code gives ImportError"
I checked out the current source tree, built the Docker image and then tried to use the data in the basic example. I get the exception detailed below when trying this, and it seems indeed like the import is missing in the code.

[code]

Any ideas what might be wrong?

[2018-04-20 15:00] vsoch commented on #49
Yes I think the pydicom version might be the newer one that doesn't have that tag. Could you check the version of pydicom installed?

[2018-04-23 06:24] petkaze commented on #49
This was executed from within the Docker container that is created when building from source. According to the Dockerfile that is part of the source tree, the following version of pydicom is installed

RUN pip install git+git://github.com/pydicom/pydicom.git@affb1cf10c6be2aca311c29ddddc622f8bd1f810

[2018-04-23 07:12] vsoch commented on #49
okay definitely must be a bug then! Let me rebuild the image from scratch too so I can reproduce the issue and fix it up.

[2018-04-23 08:18] vsoch commented on #49
hey @petkaze ! The CI might need to be updated, but here is a PR to fix this issue.

https://github.com/pydicom/deid/pull/50

I'm not sure why it wasn't an issue before, and it definitely isn't logical that the install of pydicom was somehow changed. It's water under the bridge at this point, let's fix it up! And if you are interested in using the library more, we should chat about updating to the

[2018-04-23 08:19] vsoch commented on #49
If you have the chance, would be great for you to review the PR!  Here is what I'm getting locally:

[code]

[2018-04-24 05:16] vsoch commented on #49
This should be fixed up. Please re-open if you have issue.

[2018-04-24 05:16] #49 closed

[2018-04-24 05:24] #36 closed

[2018-04-24 05:24] vsoch commented on #23
I don't see any need for this. Closing.

[2018-04-24 05:24] #23 closed

[2018-04-24 05:25] vsoch commented on #3
I no longer see any pressing need for this, closing until it's expressed.

[2018-04-24 05:25] #3 closed

[2018-04-24 05:26] vsoch commented on #13
I no longer see pressing need for this, closing.

[2018-04-24 05:26] #13 closed

[2018-04-24 05:26] vsoch commented on #1
I no longer see pressing need for this, closing.

[2018-04-24 05:26] #1 closed

[2018-04-24 05:26] #14 closed

[2018-04-24 05:26] vsoch commented on #2
I no longer see pressing need for this, closing.

[2018-04-24 05:26] #2 closed

[2018-04-24 05:27] #15 closed

[2018-04-24 05:27] #17 closed

[2018-04-24 05:27] #18 closed

[2018-04-24 05:27] #19 closed

[2018-04-24 05:27] #12 closed

[2018-04-24 05:27] #22 closed

[2018-04-25 02:38] mobbSF opened #51 "ImportError: No module named deid.config"
Just freshly installed via pip.
When I `from deid.config import DeidRecipe`
I get `ImportError: No module named deid.config`
Any ideas?

[2018-04-25 04:16] vsoch commented on #51
You are probably using an old version. Do pip uninstall deid until there aren't any left, then do pip install deid, and try again. I just did this sequence of events from scratch and installed the latest version and didn't get an error.

[2018-04-25 21:37] mobbSF commented on #51
Got it; setting up a virtual env now. Thanks.

[2018-04-25 21:37] #51 closed

[2018-04-25 21:44] vsoch commented on #51
Great!

[2018-04-25 22:19] mobbSF opened #52 "AttributeError: 'function' object has no attribute 'tostring'"
Hi,
Thanks for the opportunity to use this cool library 🙂

So, everything is going great until the `.save_dicom()` step.

[code]
scrubbing happens:
_Scrubbing /Users/me/dicoms/dicom.dcm._
Then,
`client.save_dicom()`
gives
[code]

It looks like the problem is with the `read_file` from pydicom...but I'm assuming the dicoms are readable since they were opened and read in the scrubbing step.

To exper

[2018-04-25 22:30] vsoch commented on #52
I think this is one of the changes to the internal representation of the PixelData with the updated pydicom - definitely something we can fix! @darcymason before I dig into this does this ring any bells for what might be up?

[2018-04-25 22:38] mobbSF commented on #52
fwiw, after commenting out the `.tostring()`, as in `dicom.PixelData = self.clean#.tostring()`, things continue until an exception for a bad tag in the dicom

[2018-04-26 00:59] vsoch commented on #52
The background is that the representation of the pixel data had a big change between the older and current version of pydicom, and likely we have to obtain / set it differently than before. I don't know off the top of my head the correct way to go about it but can look into it later.

[2018-04-26 06:45] vsoch commented on #52
hey @mobbSF ! We can address the matplotlib issue next, but for now give a look at this PR to see if the pixel data issue still arises: https://github.com/pydicom/deid/pull/53

Basically, I looked at the new docs to see how pixel data should be used:

https://pydicom.github.io/pydicom/stable/working_with_pixel_data.html

I'm not sure if this fixes it up, but thought it would be worth a shot!

[2018-05-17 15:08] petkaze opened #54 "deid identifiers --action all fails with NoneType object has no attribute get_actions"
I have pulled the current master branch and tried the following:
[code]

Some information about my environment:
[code]

Any ideas what might be wrong?

[2018-05-17 15:14] vsoch commented on #54
Any reason your output folder is still set to my Desktop?

[2018-05-18 07:28] petkaze commented on #54
@vsoch Probably because the deid-dicom-example.py file has your Desktop as the default value. See for example lines 214 and 219.

[2018-05-18 08:15] vsoch commented on #54
The general idea is that you should modify the example for your needs. Please modify the paths and try again, and run the script relative to its location as I suggested above. Thanks!

[2018-05-21 15:20] vsoch commented on #54
Awesome! Just merged :) Let me know if you have any more issues, I'll close the issue if you are resolved (reopen if needed!)

[2018-05-21 15:20] #54 closed

[2018-06-12 07:43] sylvainKritter opened #57 "DicomCleaner sav_dicom"
Hello,
Thanks a lot for all these very usefull functions!
I get trouble generating dicom after clean:
  File "C:\deid\dicom\pixels\clean.py", line 181, in save_dicom
    dicom.PixelData = self.clean.tostring()
AttributeError: 'function' object has no attribute 'tostring'

Can you help me?
Regards

[2018-06-12 07:57] vsoch commented on #57
Definitely! I think I know the issue. It's in the middle of the night where I am so I'll take a look tomorrow morning :-) Stay tuned!

[2018-06-12 08:09] sylvainKritter commented on #57
Thanks a lot !

Good night !

Sylvain

De : Vanessa Sochat <notifications@github.com>
Envoyé : mardi 12 juin 2018 09:57
À : pydicom/deid <deid@noreply.github.com>
Cc : Sylvain Kritter <sylvain@horasis.eu>; Author <author@noreply.github.com>
Objet : Re: [pydicom/deid] DicomCleaner sav_dicom (#57)

Definitely! I think I know the issue. It's in the middle of the night where I am so I'll take a look t

[2018-06-12 12:43] vsoch commented on #57
hey @sylvainKritter here is a PR for you to test!

https://github.com/pydicom/deid/pull/58

You should be able to clone the branch and then install:

[code]

When you confirm all is well, I'll merge and release on pypi. I'll also generate a DOI on zenodo in case you need to cite the software for your work.

[2018-06-12 17:06] sylvainKritter commented on #57
Many thanks Vanessa,

This is working : it writes the dicom file.

Now I need to figure out why there is still names in the dicom file pixel area: I will re-read doc….

Best regards, thanks for being so quick to fix !!!

Sylvain

De : Vanessa Sochat <notifications@github.com>
Envoyé : mardi 12 juin 2018 14:44
À : pydicom/deid <deid@noreply.github.com>
Cc : Sylvain Kritter <sylvain@horasis.eu>; Men

[2018-06-12 17:16] sylvainKritter commented on #57
Hi again Vanessa ,

Running your example deid/examples/dicom/pixels/run-cleaner-client.py

I got a clean png file, but for the dcm, I got error :

File "C:\pydicom\filewriter.py", line 425, in write_data_element

    raise ValueError('Pixel Data with undefined length must '

ValueError: Pixel Data with undefined length must start with an item tag

Regards,

sylvain

De : Vanessa Sochat <notificati

[2018-06-12 17:23] vsoch commented on #57
hey @sylvainKritter ! The algorithm to detect is based on the method used by CTP - there is a list of "known" locations in the deid recipe (see [here for the default](https://github.com/pydicom/deid/blob/master/deid/data/deid.dicom#L109)) and then they are blacked out with this function here: https://github.com/pydicom/deid/blob/master/deid/dicom/pixels/detect.py#L81 Matching to the recipe is base

[2018-06-12 17:23] #57 closed

[2018-06-12 17:30] vsoch commented on #52
I'm going to close this issue here because the error in question was fixed by #58 (see #57 for new discussion around the issue) and there has been no more discussion here. Thanks!

[2018-06-12 17:30] #52 closed

[2018-06-12 17:34] vsoch commented on #57
Thanks again! The new version is  on pypi, and here is the zenodo record. https://zenodo.org/record/1287923#.WyAECnUvxCU

[2018-09-05 15:38] fimafurman opened #59 "clean method appears to be off"
In clean.py:

Line 122:
self.cleaned[minr:maxr, minc:maxc] = 0  # should fill with black

For coordinates [0,0,800,59] it blacks out the vertical left section instead of horizontal upper section of the image.

[2018-09-05 15:41] vsoch commented on #59
Likely a bug! Would you like to PR to fix it, and show a before and after image for comparison?

[2018-09-05 16:58] fimafurman commented on #59
Sure! I am relatively new to GitHub, so need to figure out how to create and commit my own branch with a fix.

The following seems to do the trick:

diff --git a/deid/dicom/pixels/clean.py b/deid/dicom/pixels/clean.py
index 1ffdb74..3d6f372 100644
--- a/deid/dicom/pixels/clean.py
+++ b/deid/dicom/pixels/clean.py
@@ -119,7 +119,7 @@ class DicomCleaner():

             for coordinate in coordinates:

[2018-09-05 17:00] vsoch commented on #59
You would need to:

 - fork the repository to your account
 - checkout a new branch
 - make the change to the branch
 - commit and push to github - *your* fork and a new branch
 - open a pull request to this repository with the changed branch

if you want to give that a go I can offer to help you, or if you want me to make the change (and you can review) I'm also happy to do this.

[2018-09-05 17:04] fimafurman commented on #59
Let me try to figure this out. Below are the images before and after the fix

Before:
![badly_cleaned](https://user-images.githubusercontent.com/38636124/45108946-197ac400-b10c-11e8-91f3-e4ccb144c75e.png)

After:
![cleaned_correctly](https://user-images.githubusercontent.com/38636124/45108958-1ed80e80-b10c-11e8-825e-d27194892742.png)

[2018-09-05 17:06] vsoch commented on #59
It looks like the "after" is smudged, wouldn't you want the before to have the text and the after blacked out?

[2018-09-05 17:16] fimafurman commented on #59
Apologies for not being clear- before and after applies to before the bug is fixed and after the bug is fixed. The before picture shows that the black box is vertical on the left - it leaves PHI information at the top of the image. The after image shows that after the fix, the top region is correctly blacked out. I added smudging to avoid any other type of image identification.

[2018-09-05 17:53] vsoch commented on #59
Could you show an image that has more clearly delineated PHI? I see a big chunk of text on the left side, in which case the before was actually correct. The bar at the top, on the other hand (and it's hard to see with the smudge) may not have been detected as PHI.

[2018-09-05 18:02] fimafurman commented on #59
Does this help? Here you can see that all text on the vertical left is non-phi. The top horizontal (starting from the left is where PHI( the name of the person) is displayed. If this is not enough, I would need to search for a stock image with fake PHI info to be able to share it here.

![original](https://user-images.githubusercontent.com/38636124/45111857-0f5cc380-b114-11e8-9c5c-791786496bcb.png

[2018-09-05 18:36] vsoch commented on #59
Could you remind me what is the format of the input coordinate? I just did some testing, and for (the way it's implemented now) it does seem that the current implementation would produce a box that is longer than it is wide. Is this not what is wanted?

https://gist.github.com/vsoch/df6957be12c34e62b21000603f1687e5

I think it would be helpful to have some dummy testing cases where there is clear

[2018-09-05 19:49] fimafurman commented on #59
I just added comments to:
https://gist.github.com/vsoch/df6957be12c34e62b21000603f1687e5

Which explains my reasoning including the format definition from CTP anonymizer script. I think it very clearely shows the discrepency of the original code that creates a vertical box vs a horizontal box for (0,0,800,59)

[2018-09-12 13:58] fimafurman opened #63 "Is deid.dicom aquivalent to CTP's pixel.anonymizer.script?"
I noticed that deid.dicom is missing entries in CTP's pixel.anonymizer.script - is deid's deid.dicom config file modeled after CTP's script?

[2018-09-12 14:15] vsoch commented on #63
Yes! Would you care to PR to update? Would be greatly appreciated!

[2018-09-12 14:27] fimafurman commented on #63
Sure!

It is likely that there several entries missing as the model I noticed was
quite old from 2013, so I will try to come up with a comprehensive list of
gaps.

On Wed, Sep 12, 2018 at 10:15 AM Vanessa Sochat <notifications@github.com>
wrote:

[2018-09-12 14:33] fimafurman opened #64 "No available image handler could decode this transfer syntax JPEG Lossless, Non-Hierarchical, First-Order Prediction"
client.clean() threw exception: "No available image handler could decode this transfer syntax JPEG Lossless, Non-Hierarchical, First-Order Prediction"

[2018-09-12 14:37] vsoch commented on #64
@fimafurman this responsibility is allocated to [pydicom](https://github.com/pydicom/pydicom). We are using the slightly older version, so if the newer one (with work on image handlers) can handle the syntax, then fixing here would resolve the problem! Would you be able to test your image using the latest release of pydicom to continue our discussion? If it works it will be a bit of work to update

[2018-09-12 14:59] fimafurman commented on #64
Thanks - it appears their next release 1.2.0 is not yet on github and it's targeting Oct release.

[2018-09-12 15:06] vsoch commented on #64
Ah ok! The approach I would take is to open an issue on the pydicom board, and show the version of pydicom, and the copy pasted lines (and error) for reading in your particular image. If the image is anonymized you could provide them an upload to test. That will be helpful to make sure the support is added, and the feature is passed downstream to libraries (like deid) that use pydicom.

[2018-09-12 15:37] fimafurman commented on #64
It looks like it was created already: https://github.com/pydicom/pydicom/issues/532

[2018-09-12 15:47] vsoch commented on #64
I’m looking over the issue and it doesn’t look like a problem with pydicom, you need to update your version of gdcm to have the libraries that are needed to support the syntax. Also look at the version of pydicom you are running for a sanity check.

[2018-09-12 19:09] fimafurman commented on #64
Yes, it appears I did not have gdcm installed, however when I installed it, it fails to read the pixels with: UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa8 in position 24806: invalid start byte

[2018-09-12 21:48] fimafurman commented on #64
I suspect this is related to my gdcm install, but here's another issues which might belong here:

client.save_dicom(clean_path) sometimes errors out with:
 "Pixel Data with undefined length must start with an item tag"

[2018-09-12 21:52] vsoch commented on #64
Let's have you fix gdcm and if that errors persists, open a separate issue. Thanks.

[2018-09-12 21:53] fimafurman commented on #64
I was able to fix gdcm by doing an anaconda install vs building from source. Will do - thank you!

[2018-09-12 21:55] vsoch commented on #64
Some magic google searching... pydicom :) https://github.com/mrbean-bremen/pydicom/commit/469b36d9d08793c7937336a79b3c69f4052bf2b0

[2018-09-12 22:34] fimafurman commented on #64
Yes, I saw this, but I do not fully understand what is expected. The save fails after deid replaces the region - it only seems to happen for uncompressed jpegs

[2018-09-13 00:49] vsoch commented on #64
please if you can, provide the image, and the exact commands you issued to reproduce the issue.

[2018-09-13 12:53] fimafurman commented on #64
I will open a new issue since this one is resolved.

[2018-09-13 12:53] #64 closed

[2018-09-13 12:54] fimafurman opened #65 "Pixel Data with undefined length must start with an item tag"
The following image:
[IMG00001.dcm.zip](https://github.com/pydicom/deid/files/2379369/IMG00001.dcm.zip)

The error happens after clean() method successfully returns (blanking out coordinates supplied) and save_dicom method is called.

With tag (7fe0, 0010) got exception: Pixel Data with undefined length must start with an item tag
Traceback (most recent call last):
  File "/data/anaconda3/lib/pyth

[2018-09-13 15:00] vsoch commented on #65
Awesome thank you @fimafurman this is perfect for debugging! I'm going for a quick last minute run before the storm but I'll be able to take a look at this for you later today. Stay tuned!

[2018-09-13 15:08] fimafurman commented on #65
Stay safe!

[2018-09-13 15:35] vsoch opened #66 "version string not parsing"
bug alert! Already fixed, will add to next PR.

[2018-09-13 15:46] vsoch commented on #65
Okay here is my investigation:
  - version of deid is current master
  - version of pydicom is 1.1.0 (release on Github)
  - gdcm installed from conda-forge

[code]

Then I detect

[code]
and then clean.

[code]
and reproduced the error:

[code]
Will report back after some more work (and I haven't gone on my run yet, haha. Just wanted to let you know I safely reproduced :)

[2018-09-13 15:48] fimafurman commented on #65
Wow, you're awesome! :)

[2018-09-13 15:49] vsoch commented on #65
One quick note - if you save a png:

[code]
that seems to work okay! So that gives us a hint it's just something with the header. The attempted save for the dicom file in the same folder doesn't open with a standard viewer with some message about the header.

[2018-09-13 15:58] vsoch commented on #65
Okay now I'm doing it interactively:

I ran the equivalent of

[code]
and then the coordinate list is the region we had seen earlier

[code]
Then we fill in with black (0). And then the save is actually just a native call to pydicom, what I thought:

[code]
and the error is triggered.

[code]
So I think we need to ask the maintainers of pydicom how to deal with this.

[2018-09-13 23:49] scaramallion commented on #65
Hi @fimafurman, is it OK if we include your dataset in pydicom as part of the test files?

[2018-09-16 16:48] #65 closed

[2018-09-16 16:48] #66 closed

[2018-09-18 21:10] fimafurman opened #68 "Runaway temp folder appears to be leaked for every clean operation."
In clean.py, line 54-55 a temp folder is created and never deleted:

 if output_folder is None:
            output_folder = tempfile.mkdtemp()

The user of mkdtemp() is responsible for deleting the temporary directory and its contents when done with it.

[2018-09-18 21:12] vsoch commented on #68
oup! looks like we need a shutil.rmtree. Give me a few minutes to look into this!

[2018-09-18 21:20] vsoch commented on #68
Could you please show me the way you are invoking clean? If done with a general client, we can't just delete the entire folder at the end of a function call (we lose the files!) and so we would want to remove the directory given some circumstances. Let me know your calls and I'll figure out the best approach!

[2018-09-18 21:40] vsoch commented on #68
hey @fimafurman ! I'm bad so I didn't test this, but would you care to do the honors? Here is the PR and the branch https://github.com/pydicom/deid/pull/69. The _exit__ was a good idea, but we can't be sure that the user doesn't want the folder to exist after exiting python. So instead I create the folder on init, and then remote it and only re-create it given that a save is called. In your case,

[2018-09-18 21:50] fimafurman commented on #68
I will test my workflow shortly. Thank you and your comment makes about the
destructor.

On Tue, Sep 18, 2018 at 5:40 PM Vanessa Sochat <notifications@github.com>
wrote:

[2018-09-18 22:14] fimafurman commented on #68
I tested my workflow and the folder is properly deleted right after creation. Not sure if there's a way to just come up with the safe name, or whether the file could be created only when needed.

[2018-09-18 22:14] #68 closed

[2018-09-18 22:21] vsoch commented on #68
Yes! Let me try this, I have an idea.

[2018-09-19 16:56] fimafurman opened #70 "pip3 download question"
pip3 download deid==0.1.18 for pretty much all python packages results in whl file bing downloaded, however for deid, gz source is downloaded and I need to generate the whl file by running setup.py bdist_wheel option. Not a big deal, but Is there a reason while deid behaves differently?

[2018-09-19 17:03] vsoch commented on #70
My preference is for setuptools, so that pip uninstall actually works :) can you show me the two different cases, restate your issue, and the functionality you would want?  Heads up I’m about to go for a run so I’ll be afk for a couple of hours so no rush!

[2018-09-19 17:20] fimafurman commented on #70
Have a wonderful walk! Here's an example where the whl file is downloaded for numpy, however tar.gz is downloaded for deid:

![aiservice_ _ffurman_ailup01___stg_ai-services_aiservice_dist_ _ssh_ffurman_ailup01_ _207x51](https://user-images.githubusercontent.com/38636124/45769802-b0687580-bc0e-11e8-9932-e52733a0720d.png)

My preference would be that a whl file is downloaded for whl, so that deid in

[2018-09-19 18:32] vsoch commented on #70
The wheel is downloaded for numpy because you already installed as wheel. I’m reluctant to install not using setuptools because wheel does not provide an easy why to specify console scripts, of which died is one. It also gives you an error message that it cannot uninstall a distutils package which I’m not a fan of. I understand wheel is an official specification but in practice I haven’t liked usi

[2018-09-19 18:38] fimafurman commented on #70
It's not a problem, I will just build using bdist_wheel. I am still zeroing in the optimal production deployment mechanism.

[2018-09-19 18:40] vsoch commented on #70
Ok sounds good! I would definitely consider providing your tools via containers, something I’m guessing you are already doing! Singularity is a good solution for HPC (or academic use) and of course Docker is bread and butter but doesn’t give you a single read only binary. Please let me know if you need any help, I’m a big fan of containers :0)

[2018-09-19 18:55] vsoch commented on #70
I do agree that for beasty libraries like numpy (with lots of underlying dependencies and things to compile) my preference would be [wheel too](https://packaging.python.org/discussions/wheel-vs-egg/). But I still haven't found a wheel solution that I like for simple packages like deid. I'll do more reading on this though, there is a lot to learn and maybe a good intermediate solution (aside from r

[2018-09-19 20:11] fimafurman commented on #63
Question:

I have an example image which gets both blacklisted and greylisted with coordinates. It seems to hit this blacklist test:

LABEL Burned In Annotation # (CTP)
  contains ImageType SAVE
  + contains Modality CT|MR
  || contains SeriesDescription SAVE
  || contains BurnedInAnnotation YES
  || empty ImageType
  || empty DateOfSecondaryCapture
  || empty SecondaryCaptureDeviceManufacturer

[2018-09-19 20:20] vsoch commented on #63
hey @fimafurman ! The idea of the recipe is that you are intended to write your own criteria to supplement or replace the default. There is no perfect default that everyone would be happy with. If you need to change the above, you can freely do so and distribute your own file, or if you think it *should* be default, do a PR to change the default! Now to answer your questions:

 - the blacklist is

[2018-09-19 20:54] fimafurman commented on #63
I would assume that it tries to mirror CTP functionality which does attempt to make a decision for you. So my question is more what is the default behavior with such condition if there are no override rules?

[2018-09-19 21:02] vsoch commented on #63
This default I had help developing with users that were actively invested in the filter criteria - honestly this is not something that I want to take responsibility for, and indeed I don't have the expertise. For this situation I would recommend that you figure out the filters that are missing / need to be changed, suggest fixes, and PR with them. If there are no "override rules" for something and

[2018-09-19 22:02] fimafurman commented on #63
Thanks - that's fair - I just wanted to understand a bit better how it behaves by default. I will play with it some more and based on testing, update the default recipe. Thanks!

[2018-09-19 23:11] vsoch commented on #63
Sounds good.

[2018-09-27 17:30] W7CAM opened #71 "Include specific Dicom group on get_identifiers"
Is there a way to ensure that specific tag groups are included? Currently, the get_identifer function does not retrieve the 0051 group (which is essential for my image reconstruction...) Thanks!

[2018-09-27 18:13] vsoch commented on #71
hey @W7CAM ! I would recommend that you copy the default deid specification file, and then write the exact criteria that you need. The file provided here is a simple (base case) template as it would of course be challenging for it to fit everyone's needs! Notice that the get_identifiers function (in dicom/identifiers.py) has a config argument, by default it's False to use the default provided:

[c

[2018-09-27 20:52] vsoch commented on #71
Can you please give me enough to reproduce the error (meaning a deidentified file, and exactly the commands you are trying)? That way I can try to help.

[2018-09-28 18:58] W7CAM commented on #71
I used the code provided deid-dicom-example.py (removing comments and a few other parts) to de-identify the files. This used the default recipe.

[code]
if I print the ids using
[code]
the identifiers from 0051 are not there.

And then used libdiff (another online example) to examine the differences between the identified and deidentified files

[code]

which showed that 0051 (and 0019) was remove

[2018-09-28 19:34] vsoch commented on #71
Yes that makes sense, thank you for sharing this! But I need also the image(s) you are testing, cleaned if necessary,  in order to test this, reproduce, and then suggest/implement a fix. Thank you!

[2018-12-05 14:58] Biggz1313 opened #72 "Editing Dicom Preamble"
Hello, I'll preface that I've only been learning python since March but have come a long way. I am using Pydicom and Deid to do some mass deidentification of dicom files and I noticed when I check the files, all fields I wanted changed in the header are changing, but the Media Storage SOP Class UID and Media Storage SOP Instance UID in the preamble are not changing.  The SOP Class UID isn't that b

[2018-12-05 15:09] vsoch commented on #72
Hey @Biggz1313 I can definitely look into this! I'll see if the files that I have handy are enough to test, and ping you if I might need some help to find ones. I remember the preamble was a bit tricky to deal with, so likely I missed seeing an example with PHI in the header. Stay tuned!

[2018-12-05 15:12] Biggz1313 commented on #72
Awesome!  Thank you so much for the quick response!  I see in the header.py file that there is some code about keeping preamble the same, but I get lost trying to trace back what all it's doing (it's around line 315).  Ideally I'd like to replace the MediaStorageSOPInstanceUID with the same var that I'm replacing the SOPInstanceUID with.

[2018-12-05 15:16] vsoch commented on #72
Are you able to show me a few examples of the preambles that you see (without the PHI of course?) I want to get a sense for what winds up in there. It seems to be the case that [the field is unstructured](http://dicom.nema.org/Dicom/2013/output/chtml/part10/chapter_7.html) and not required for machines to read, so possibly we would do better to just set to the equivalent of "empty" something like

[2018-12-05 15:21] vsoch commented on #72
Lord, I didn't even write this that long ago and the code looks so messy! This always happens... haha.

[2018-12-05 15:32] Biggz1313 commented on #72
Just reread one of you replies, and yes, I would be happy if the filed was just blanked.  I was just going to replace it with the SOPInstanceUID because I think most VNAs out there will use that for storage purposes so I figured if I could replace it with the value I was already creating that would be ideal, but in all honesty, if it's just blanked, I'll be happy.

[2018-12-05 15:42] vsoch commented on #72
Okay, so if we [look here](https://pydicom.github.io/pydicom/stable/auto_examples/input_output/plot_write_dicom.html) at the creation of an "empty" preamble it's just setting it to an empty bytes string.  But I want to clarify something - the preamble is that bytes string, but what you seem to be talking about is the file meta data (with tag starting with 0002) which is different from the preamble

[2018-12-05 15:47] Biggz1313 commented on #72
Sorry, yes, the meta data is what needs tweaking.  I made an incorrect assumption that the preamble contained the meta data, but I just read something that cleared that up for me after you pointed it out.  So really it's just the meta data that needs edited (specifically field (0002, 0003) ) as far as I can tell now.  Does that make it easier?

[2018-12-05 15:49] vsoch commented on #72
Yes definitely clear! It looks like the 0002 header fields are used for easier reading, see :point_right:  https://stackoverflow.com/questions/32689446/is-it-true-that-dicom-media-storage-sop-instance-uid-sop-instance-uid-why What I can do is to modify the code to blank it, and then give you a branch to test. We would want to see if any of your viewers have issue with opening the file, etc. Give m

[2018-12-05 15:49] Biggz1313 commented on #72
that would be fantastic, thank you!

[2018-12-05 16:01] vsoch commented on #72
okay I'm done, but I'm taking a few more minutes to clean up the docstrings because it will drive me nuts if I don't :P

[2018-12-05 16:33] vsoch commented on #72
@Biggz1313 see https://github.com/pydicom/deid/pull/73 I'll be afk for a bit, but back after you've had a chance to test. Notes for the PR are in the description. Hopefully it's a step in the right direction!

[2018-12-05 19:45] #72 closed

[2018-12-05 19:49] vsoch commented on #72
Changes released with https://pypi.org/project/deid/0.1.19/

[2018-12-08 20:53] vsoch commented on #70
Closing this issue, thanks for the suggestion @fimafurman and definitely will keep in mind for the future!

[2018-12-08 20:53] #70 closed

[2018-12-08 20:54] vsoch opened #74 "Generate better deid docs (using more consistent theme)"

[2018-12-08 20:54] vsoch commented on #74
Add clear list of examples, starting with https://github.com/pydicom/contrib-pydicom/pull/14

[2018-12-08 22:26] vsoch opened #75 "deid version option has a bug"
Running the container reveals:

[code]

[2018-12-09 11:42] vsoch opened #76 "make examples in docs for each in examples folder"

[2018-12-09 12:52] #74 closed

[2018-12-09 14:06] vsoch commented on #63
@fimafurman do you have any additions (logic for the parser) to contribute, or shall we close the issue?

[2018-12-09 14:07] vsoch opened #78 "Allow for custom functions to be passed into deid recipes"
I would want to be able to have this in a deid recipe:

[code]

And the action would be to use a function in the global space called "generate_id" to provide the PatientID, and return the new value. This is appropriate for "on the fly" generation of values.

[2018-12-09 19:36] vsoch commented on #75
Fixed

[2018-12-09 19:36] #75 closed

[2018-12-10 14:30] vsoch commented on #71
hey @W7CAM I wanted to follow up on this- it probably should be the case that these tags are included in the pydicom dicom dict. Did you try a newer version and see if they are? If not I would open an issue there, and I can start to look into updating the version that deid uses. Thanks!

[2018-12-10 14:31] #78 closed

[2018-12-10 16:03] fimafurman commented on #63
Yes. How would you like me to share it with you?

[2018-12-10 16:31] vsoch commented on #63
Any way that works for you! The easiest is likely dropping the file you are using here, and then I can open a PR to add to deid.

[2018-12-10 17:24] fimafurman commented on #63
Attached below.

I was surprised how incomplete the CTP published file is, and, as the result the deid, so we had to populate file fairly manually. If you know of any sources of complete scripts for CTP (for examples) I would appreciate it.
[ffur_deid copy.dicom.zip](https://github.com/pydicom/deid/files/2664172/ffur_deid.copy.dicom.zip)

[2018-12-10 17:33] vsoch commented on #63
Excellent, thank you! I will get these integrated asap.

I share the same sentiment - I was really surprised that "industry standard" was lacking so badly. I think it must be the case that centers add their own custom logic and don't share, because the culture (I've noticed) is fairly closed off when it comes to sharing code, etc.

[2018-12-10 20:15] #63 closed

[2018-12-18 15:49] Biggz1313 commented on #71
I was just reading through this, and noticed the group in question is an odd numbered group.  Unless I'm mistaken, aren't odd numbered groups considered private tags?  If that's the case, there can't really be a standard to add these to the PyDICOM dictionary can they?  Anyone can choose to use group 0051 as their own tag and it would most likely be different across the board.  I could be off base

[2018-12-18 16:10] vsoch commented on #71
Your insight is very helpful @Biggz1313 ! In fact, we can look at where deid derives it's private tags, from pydicom. Here they are:

https://github.com/pydicom/pydicom/blob/master/pydicom/_private_dict.py

We might then select one that was missing:

[code]
If you look for `CSA Image Header Type` in that file, you will find three instances of it, each associated with a particular model (e.g., Siem

[2018-12-24 18:56] howardpchen opened #81 "fresh build of Docker yields "ModuleNotFoundError: No module named 'pydicom'"
Although the Dockerfile does in fact run "pip install pydicom" after the Docker image is built "docker run pydicom/deid" using a command like inspect will fail with a package not found error.

It is possible this is related to miniconda3 using Python 3.7 but "matplotlib=2.1.2" forces a downgrade to Python 3.6.6, which occurs after the "pip install pydicom" command in the Dockerfile.

I switched th

[2018-12-24 18:57] vsoch commented on #81
Could you please give me the command to reproduce the error?

[2018-12-24 19:00] vsoch commented on #81
Ah I reproduced, let me see if I can test if this is what is happening (with respect to install order).

[2018-12-24 19:18] vsoch commented on #81
Thanks for reporting the issue @howardpchen. Would you care to test the PR? I've build a container with your suggested change :point_right:  https://github.com/pydicom/deid/pull/82

[2018-12-24 19:41] vsoch commented on #81
Closing issue, thanks again!

[2018-12-24 19:41] #81 closed

[2018-12-26 14:24] howardpchen opened #83 "pydicom.read_file() --> _get_pixel_array() no longer exists"
Attempting to use the DicomCleaner class to do pixel-level cleaning.

Looks like I keep getting an error in the `clean.py` file:

Tracing this issue back it looks like pydicom's FileDataset doesn't actually have a _get_pixel_array() function, as follows:

(dicom_files is a list of local paths to DICOM files). Gives the same error at the same location:

On the other hand, I seem to be able to call

[2018-12-26 14:30] vsoch commented on #83
Deid hasn’t been updated to what was previously a release candidate and now the official release on master of pydicom.  If you downgrade the issue will be resolved and the larger fix needs to be to update the entire package, which is a large amount of work.

[2018-12-26 19:46] vsoch commented on #83
hey @howardpchen could you please test with `pydicom==1.1.0` ? We can have the freeze to that version as a quick fix. If it's the case that I had installed 1.1.0 when it was a release candidate then you will likely get the same issue (and please let me know).

[2018-12-26 19:56] howardpchen commented on #83
Yes confirmed. I locked pydicom to 1.1.0 and it works fine. Did the same with the Docker bersion by setting `pip install pydicom==1.1` in the Dockerfile and it works as well.

[2018-12-26 20:01] vsoch commented on #83
Great! I'll get in a PR to fix this soon, unless you would like to open one? In the future, if you file an issue and are able to help the maintainer by providing your suggested solution, you should do this. Other users are likely to run into the same issue so it's in the best interest to find a solution quickly! And I happen to know the issue this time, but I can assure you there are many more thi

[2018-12-26 20:10] vsoch commented on #83
Please review --> https://github.com/pydicom/deid/pull/84

[2018-12-26 20:13] #83 closed

[2018-12-26 20:15] howardpchen commented on #83
Vanessa thanks for the recommendation! In all honesty I've not thought about it till now because it always feels like I might just not be using the package right instead of a bug.  Thanks for the encouragement and will recommend pull requests for basic fixes here on out!

[2018-12-26 20:18] vsoch commented on #83
Awesome! It's definitely the user base that drives development and I'm extremely grateful for catching all these :bug:. If you have time to do a PR, that's even better. But if not? That's what I'm here for! :avocado:

[2018-12-27 22:46] howardpchen opened #86 "JITTER command in recipe generates error"
JITTER command in recipe generates an error that points to this file.
jitter_timestamp was called in line 121 with "item=dicom" but the
function itself now asks for parameter name "dicom" so changed line 121
to dicom=dicom

[2018-12-28 18:34] vsoch commented on #86
Closed with #85

[2018-12-28 18:34] #86 closed

[2018-12-29 21:15] howardpchen opened #87 "Additional field expanders"
My group's use case includes passing a function to all DICOM Tags to check for certain PHI words/phrases.  Noticed that while we can do startswith and endswith, there isn't an easy way to apply func:my_function on most or all of the DICOM tags.  Would it be of interest if I expanded the deid/dicom/fields.py functionality (e.g. add expander words like "all," "contains," "allexcept" etc) and sent ou

[2018-12-29 21:38] vsoch commented on #87
I think we do have a use case for this, I released it recently - see this example https://github.com/pydicom/deid/tree/master/examples/dicom/header-manipulation

I think perhaps the addition you would need is a way to apply the function to ALL tags? Right now, the use case is for a specific tag like:

[code]
and then you would pass into the items dictionary like:

[code]

Maybe something like this

[2018-12-29 21:47] vsoch commented on #87
If you have something very specific / custom you could also just run it over the fields after you extract them, e.g.,

[code]

[2018-12-30 00:16] howardpchen commented on #87
Agree that * is less intuitive to non programmers, who seem to be the key target audience for the Recipes mechanics.

Iwas thinking to leverage existing field expander mechanism which can handle

`REPLACE allFields: func:clean_data`

with a few extra lines:

The code also includes a 'contains' in addition to endswith and startswith.  The use case is for something like Date and DateTime:

`JITTER c

[2018-12-30 00:35] howardpchen commented on #87
Actually re: all fields I think it does make more sense to do it without the colon for the user, as you suggested:

`REPLACE ALL func:clean_data`

I feel pretty good that All won't become a standard DICOM tag soon :)

[2018-12-30 00:38] vsoch commented on #87
With the last amendment, I agree on all fronts! It wouldn't be good to have something like

[code]
to indicate all fields, because we would want to catch that as an error that the user missed specifying the fields.

[2018-12-30 00:47] vsoch commented on #87
I'm having dinner now, but I'll be happy to put this in for you tomorrow (unless you get to it first!) Thanks for the good suggestion.

[2018-12-30 15:03] vsoch commented on #87
hey @howardpchen ! I've done a PR to work on this issue. Would you be able to review when you get a chance? https://github.com/pydicom/deid/pull/88 No rush, it's Sunday firstly, and I'm going to go out for a run and will be back later anyway :) Happy weekend!

[2018-12-30 20:15] #87 closed

[2018-12-30 23:06] vsoch opened #89 "Header expanders need to all be regular expressions"
This way, starts|ends with can also handle multiple values

[2018-12-30 23:20] #89 closed

[2019-01-02 22:20] danielsnider commented on #16
Hi @vsoch I am working on this ;-). I also have grad students that might join. I'll give you an update in a week and then lets chat.

[2019-01-04 18:05] vsoch opened #91 "update deid with latest pydicom"
Look into this issue:

[code]
Reported here https://github.com/pydicom/dicom-cleaner/issues/5

[2019-01-04 19:01] vsoch opened #93 "This line should have debug verbosity, way too verbose for validation!"
https://github.com/pydicom/deid/blob/b017edbaac6a1a2d2de298915ebd9cdbc49516d5/deid/dicom/validate.py#L54

Also update license to 2019!

[2019-01-04 19:20] #93 closed

[2019-01-04 19:20] #91 closed

[2019-01-09 15:30] BLT81 opened #97 "installation error"
I'm getting error while installing from pypi. Have you seen this before?

$ python -m pip install deid
Requirement already satisfied: deid in c:\users\trumpb\appdata\local\programs\python\python37\lib\deid (0.1.31)
Collecting matplotlib<=2.1.2 (from deid)
  Using cached https://files.pythonhosted.org/packages/6d/bd/3e8cec37bcf71cfd81fe798cf733c046b1ceb123e7dddf6d3435cf03b506/matplotlib-2.1.2.tar.g

[2019-01-09 15:57] vsoch commented on #97
Yes I have! pip won't install missing dependencies  on your system (like lib freetype) so you should install them first. I found the same issue [here](https://stackoverflow.com/questions/20533426/ubuntu-running-pip-install-gives-error-the-following-required-packages-can-no) that shows the different libraries that are available with apt-get. Let me know if that works for you!

[2019-01-18 20:24] fimafurman opened #98 "notContains not expecting a field?"
I had to use 'notContains' clause in deid rules and expected it to work just like contains clause with the opposite effect, however, I found that the parser does not actually expect the value to be present. It looks like a bug, as notcontains should expect a field value:

In utils.py:

`# Missing, empty, notcontains expect only a field
 elif action in ['missing', 'empty','notcontains', 'present']:

[2019-01-18 20:39] fimafurman commented on #98
Yes, I verified that moving ''notcontains' to the field expecting condition fixes this issue:

 if action in ['contains','equals','notequals','notcontains']:

[2019-01-18 21:01] vsoch commented on #98
Thanks @fimafurman I'll get this fixed up soon.

[2019-01-18 21:14] #98 closed

[2019-01-18 21:15] vsoch commented on #97
hey @BLT81 was this resolved for you?

[2019-01-19 00:15] BLT81 commented on #97
Hi Vanessa,

I'm unsure at this point. I successfully installed those dependencies but I am still getting the error when attempting to install. It could be a bug somewhere else.

Thanks,

Brad

________________________________
From: Vanessa Sochat <notifications@github.com>
Sent: Friday, January 18, 2019 4:15 PM
To: pydicom/deid
Cc: Trumpower, Brad; Mention
Subject: Re: [pydicom/deid] installation

[2019-01-21 14:33] BLT81 commented on #97
I installed LibPng and freetype using Gnuwin installers for Windows.  I will attempt to try it with Anaconda

From: Vanessa Sochat <notifications@github.com>
Sent: Saturday, January 19, 2019 6:22 AM
To: pydicom/deid <deid@noreply.github.com>
Cc: Trumpower, Brad <trumpb@med.umich.edu>; Mention <mention@noreply.github.com>
Subject: Re: [pydicom/deid] installation error (#97)

External Email - Use Ca

[2019-01-21 15:40] BLT81 commented on #97
I reinstalled freetype and then used Anaconda to install DEID. It was successful. However, it failed when trying to install with a windows prompt. I'm wondering why it works in Anaconda but not outside. Wouldn't it be using the same lib png and freetype?

[2019-01-21 16:45] vsoch commented on #97
I think the reason is (likely) because you installed the core libraries for freetype and png, but not the development libraries. I'm not sure what this looks like in Windows, but in Ubuntu the difference usually comes down to installing something like `libfreetype` *and* `libfreetype-dev`. When you install with Anaconda, it likely installs the needed development libraries.

[2019-02-01 18:58] WannabeKid opened #100 "AttributeError: 'IPythonDisplay' object has no attribute 'to_string'"
Can anyone help me on this please ?
I was trying to display the largest vale of a column using nlargest method

[2019-02-01 19:12] WannabeKid commented on #100
I was trying to find the largest value of a column of a dataset and then display it.

display(nobel.nlargest(1, "age"))

this is the line of code i used.
nobel is the dataframe name

I am a newbie to this field and trying to learn

[2019-02-01 19:18] vsoch commented on #100
Are you using pandas dataframes (hence the reference to columns?) If you have a column, let's say it's named "age", you should be able to do:

[code]
You shouldn't need to use any sort of display().

[2019-02-01 19:19] vsoch commented on #100
Also, if you are having (general trouble) or questions with python, dataframes, it's probably best to try stack overflow or a Github board relevant to the software you are using. pydicom/deid is a python module for working with dicom datasets, specifically headers.

[2019-02-01 19:34] WannabeKid commented on #100
I was doing a project on datacamp where i came across this. here is the link to the project

https://projects.datacamp.com/projects/441

And thanks for the advice vsoch, means a lot :-)

[2019-04-22 16:33] danielsnider opened #101 "Best recipe to de-identify all header PHI in any given DICOM?"
The best recipe that I can find to remove header PHI is your base recipe:
https://github.com/pydicom/deid/blob/master/deid/data/deid.dicom#L744
Is it intended to de-identify **all** header PHI in **any** given DICOM?

Thanks!

Removing all header PHI would be a good example to have in documentation as it's own distinct example so that it's easy to find.

[2019-04-22 16:37] vsoch commented on #101
It's a default base that is intended as a starter recipe, and a best effort for that. Given the extensive kinds of machines and vendors, there is no possible way it could make that kind of promise.  The user is expected to start with the base and build/customize a recipe for his or her needs. A better approach (as we have discussed before) is not to use a rule based recipe to begin with.

[2019-04-22 16:39] vsoch commented on #101
And remember that "de-identify" implies a best effort, which is different from "anonymization" which is more like certainty of getting it all. It's good to be aware of these subtle differences if you make a statement like "all header PHI" because it's not de-identification you want, it's anonymization, and deid cannot promise that (and I'm not sure how any software tool could).

[2019-04-22 17:07] danielsnider commented on #101
@vsoch Thanks for the insight! Very, very helpful.

[2019-04-22 18:34] danielsnider commented on #101
I like how powerful this repository is.

I'm going to start by using your defaults: https://github.com/pydicom/deid/blob/master/deid/data/deid.dicom#L744

At a later point I'll add more rules by adapting what's in the spec (part 142 of the DICOM spec [1][2][3]) into pydicom/deid recipe format.

[1] ftp://medical.nema.org/medical/dicom/final/sup142_ft.pdf
[2] ftp://medical.nema.org/medical/dicom/20

[2019-04-22 18:34] #101 closed

[2019-04-22 18:37] vsoch commented on #101
I like the plan! Keep me posted.

[2019-06-23 15:52] danielsnider commented on #101
I'm back with my master deid recipe. I think it strikes a balance between keeping useful demographics for research while removing highly sensitive PHI and identifiers. It's not yet approved for use at SickKids but I'll try to report back on that in the future.

[code]

[2019-06-23 15:56] danielsnider opened #102 "PHI field is not replaced when inside sequence"
With recipe:
[code]

The field `InstanceCreationDate` is not replaced when inside of a sequence. See how there are two occurences of InstanceCreationDate and only one got de-identified? My result as seen by `dcmdump`:

![image](https://user-images.githubusercontent.com/1737560/59978667-c4317580-95ac-11e9-881e-95cb92f8e4ec.png)

What do you think?

Thanks!
Daniel Snider ツ

[2019-06-23 15:57] vsoch commented on #101
hey @danielsnider welcome back! Do you want to do a PR against the default here, so if anything, we can at least compare the two? And if it's an improvement, we can update the default.

[2019-06-23 15:58] vsoch commented on #102
I think a check needs to be done for a sequence, and if it's a sequence, iterate over it. But that's just me :)

[2019-06-23 16:03] danielsnider commented on #101
You default recipe
<https://github.com/pydicom/deid/blob/master/deid/data/deid.dicom#L744> is
more "safe" than mine because of:
[code]

The differences are quite major. I'll make a PR to a new file?

The list that I've prepared is a super-set of your list, CHOP's list
<https://github.com/chop-dbhi/dicom-anon/blob/master/spec_files/annexe.dat>,
the Cancer Imaging Archive
<https://wiki.cancerimaging

[2019-06-23 16:06] vsoch commented on #101
I'm having trouble following your message (it seems to be from an email and it's a bit choppy) but for the first part, yes let's do a new file. Perhaps add a README.md to the recipes folder to describe those included, and we should also add details to the docs about the differences.

[2019-06-23 16:07] danielsnider commented on #101
REPOST with better formatting.

Your [default recipe](https://github.com/pydicom/deid/blob/master/deid/data/deid.dicom#L744) is more "safe" than mine because of:
[code]

The differences are quite major. I'll make a PR to a new file?

The list that I've prepared is a super-set of your list, [CHOP's list](https://github.com/chop-dbhi/dicom-anon/blob/master/spec_files/annexe.dat), the [Cancer Imaging

[2019-06-23 16:13] vsoch commented on #101
Fantastic! Thanks for the repost :)

[2019-06-23 16:17] vsoch commented on #102
@danielsnider do you have a dummy dicom I can use to test?

[2019-06-23 16:19] danielsnider commented on #102
Yes. One minute!

On Sun, Jun 23, 2019 at 12:17 PM Vanessasaurus <notifications@github.com>
wrote:

[2019-06-23 16:23] danielsnider commented on #102
@vsoch [here](https://sickkidsca-my.sharepoint.com/:u:/g/personal/daniel_snider_sickkids_ca/EU6ypKt3WqdIjEXhWu0mSZQB4pTo-aw0tMCYImOK-9jdTQ?e=hABXMA) you go. Thanks so much.

[2019-06-23 16:27] danielsnider commented on #102
It is the DICOM from my example, look for `InstanceCreationDate`.

[2019-06-23 16:34] vsoch commented on #102
How do you propose we do this? Currently, it's a matter of looking in the dicom to see if a tag is present. You are asking to additionally parse every tag to check for sequences, and further, to do this recursively. This would hugely slow down the library to need to look everywhere. I don't think this would be feasible, because what if it's a sequence in a sequence? How deep do we go?

Instead, I'

[2019-06-23 16:39] vsoch commented on #102
This library also badly needs pylint, it's driving me nuts just looking at it right now, haha. Based on how easy / hard this fix is, I might pylint first, and maybe create a conda-forge recipe too.

[2019-06-23 16:39] vsoch opened #103 "Need to add pylint for better formatting"

[2019-06-23 16:40] vsoch opened #104 "Create conda-forge recipe"

[2019-06-23 16:54] danielsnider commented on #102
I would suggest recursing as deep into sequences as possible with a keyword argument to turn it on (or off). I think the importance of finding and removing all PHI outweighs the performance hit of recursing. Computation I think should be sacrificed if it saves human thinking time and increases the quality of de-identification. The added complexity having to know in advance what the full sequence p

[2019-06-23 16:57] vsoch commented on #102
I'd like to hear others' thoughts on this.

[2019-06-23 17:01] vsoch commented on #102
I do agree that removing PHI outweighs performance, but I must stress that deid simply cannot guarantee anything to the user. It's an open source tool that makes a best effort at anonymization. Anyone working with PHI should never have peace of mind, but rather a piece of their mind always worrying and then double checking. :)

[2019-06-23 17:03] danielsnider commented on #102
Haha. So true!! Well put.

[2019-06-23 21:48] vsoch commented on #104
This will be closed with https://github.com/conda-forge/staged-recipes/pull/8617

[2019-06-24 00:48] danielsnider commented on #102
Hi @vsoch, Think you could point me to the line of code where I might start implementing recursing into sequences? There is some urgency 🦁

[2019-06-24 00:54] vsoch commented on #102
There’s already a function that is called by get_fields (I think in dicom.fields) to expand sequences, and a Boolean somewhere to control it at entry to one of the functions in header. It’s getting late here so I’m done for today, but I’d you can wait until tomorrow morning I can start this for you. This afternoon I was able to add pylint and create a conda staged recipe, so I’m happy to move on t

[2019-06-24 01:05] danielsnider commented on #102
@vsoch Give it a start if can 🤩. Night!
I'm prepping my server to ElasticSearch server receive and index 100 million dicoms from this `deid` package!! 🎉

[2019-06-24 01:09] danielsnider commented on #102
Bring on the recursion and it's performance hit. We have 15,000 CPUs! 😎!

[2019-06-24 15:38] #104 closed

[2019-06-25 12:50] #102 closed

[2019-06-25 12:51] #103 closed

[2019-06-25 12:52] vsoch commented on #97
I'm closing this issue, the user was missing libraries (and I'm not sure how deid could have been installed from Anaconda, because I just added it yesterday).

[2019-06-25 12:52] #97 closed

[2019-06-25 12:56] BLT81 commented on #97
I abandoned trying to fix this issue. It is also quite easy to install non-conda packages with anaconda. https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-pkgs.html#installing-non-conda-packages

[2019-06-25 13:03] vsoch commented on #97
The reason it worked for Anaconda but "not outside" is because Anaconda maintains these libraries [for you](https://stackoverflow.com/questions/42348726/where-is-mkl-or-other-libraries-located-in-an-anaconda-installation). When you installed using it, it handled it. The error on your regular system for Matplotlib is because you did not have the development libraries, or you installed them but didn

[2019-12-06 12:20] MAStarsis commented on #100
Hello! I did the same project on Datacamp, and for some reason, it worked removing display, not using anything. Probably is an error that they have there.

[2019-12-06 16:55] vsoch commented on #100
Awesome! Thanks for sharing - others that find the issue here will know to just leave it out.

[2020-01-16 15:43] Spenhouet opened #108 "Create python wheel"
I have the same issue as: https://github.com/pydicom/deid/issues/97
But I don't want to install Anaconda and I could not resolve the issue.
I already installed libpng and FreeType, also added them to the paths. The files that the error message claims are missing are actually on the path... so I don't get what the issue is.

From this issue (https://github.com/matplotlib/matplotlib/issues/13553) I

[2020-01-16 15:48] vsoch commented on #108
You can easily do this on your host https://stackoverflow.com/questions/26059111/build-a-wheel-egg-and-all-dependencies-for-a-python-project.

[2020-01-16 15:49] Spenhouet commented on #108
Wouldn't I run into the same issue with libpng and FreeType?

[2020-01-16 15:51] vsoch commented on #108
Did you try it? I'm not sure, I've never needed to do this.

[2020-01-16 15:51] vsoch commented on #108
What version of Python are you using? Is this somehow related to python 2 to 3?

[2020-01-16 15:57] Spenhouet commented on #108
I'm using python 3.7.5 64 bit.

From what I understand the whole idea behind these wheels is that other people who want to use your package don't need to build C extensions you used. That is why I asked if you could provide the wheels. I'm not sure how much work that is :/ but it definitely would be more convenient for every Windows user who would not need to fight with these issues.

[2020-01-16 16:04] vsoch commented on #108
Ah, it must be a Windows thing. Ok - so you are going to be my first tester (I've never distributed a wheel before, just eggs). Take a look here, there should be a wheel. https://pypi.org/project/deid/0.1.34/#files I'm concerned about the "none" (I just did a quick sdist for the wheel generation) and it could be that I need to specify OS. See if you can use that, and if not, let's chat about how t

[2020-01-16 16:15] Spenhouet commented on #108
I tested the file but it resulted in the same issue.

The tricky (and probably time consuming) part seems to be that you have to build the C extensions on the target OS and build the wheels on the target OS/python version.

For bigger organisations with multiple build machines that is an easy task but if you have only access to a Linux machine and to create these wheels you would need to setup all

[2020-01-16 16:26] vsoch commented on #108
I don't have a Windows machine, but I suspect it's the same issue that you'd see on Linux, either when something isn't on the LD_LIBRARY_PATH (or Windows equivalent) or just the PATH, or it's not exported, or the user hasn't run ldconfig. I don't have expertise with Windows for more than 10 years now and I also don't have a Windows machine to play around with, so I'm afraid my ability to help is l

[2020-01-16 18:03] Spenhouet commented on #108
Okay, so I have no progress on the path issue but I now know more about my issue.

In the package version requirements you did limit the matplotlib version to max 2.1.2.
The issue is, that matplotlib 2.1.2 only has wheels up until python 3.6 but not for 3.7 and 3.8.
Therefore the installation is failing.
Upgrading matplotlib in the deid package to a newer version (3.1.2 for example) would solve th

[2020-01-16 19:03] vsoch commented on #108
Interesting! At least there is a fix / workaround. For matplotlib, it's been a while but I remember needing to pin the version for some reason. In the CHANGELOG I see:

and then in commit history:

here -> https://github.com/pydicom/deid/commit/3d684e3254e0019dbeae597ee59c84cd1eb1a665#diff-1bc0aa28eb3b1837a500e2553978cb34R70

Since you've installed with later, if you want to try running tests, and

[2020-01-16 19:03] vsoch commented on #108
I would actually hope that we find an issue with the newer version, and then possibly a fix so that the version can be updated.

[2020-01-16 20:55] Spenhouet commented on #108
I can't promise that we will end up using deid, but I will let you know.
If we do, I will report back any issues I encounter.

[2020-02-07 22:11] davidparsson opened #109 "Update version of Matplotlib"
Is there a particular reason behind the specified max version of matplotlib requred?

I'm trying to install this in a project that's using a newer version of matplotlib, and a dependency management tool that does not allow version mismatches.

Thanks!

[2020-02-07 22:22] vsoch commented on #108
Any updates @Spenhouet ?

[2020-02-07 22:23] vsoch commented on #109
There was a particular reason - but I didn't document it and I can't remember. I think it had something to do with the cleaning of pixels functionality, and some function afforded by previous versions of matplotlib.

Would you care to remove the version dependency, and test out the library, and report back any issues?

[2020-02-08 13:22] davidparsson commented on #109
I don't really have a lot of time, nor deid experience, but if I find the
time I might give it a try.

Den fre 7 feb. 2020 kl 23:23 skrev Vanessasaurus <notifications@github.com>:

[2020-02-08 16:09] vsoch commented on #109
hey  @davidparsson I'll see if I can make this slightly easier for you with a branch that explicitly removes the version dependency. Give me a little bit and I'll push - also going to add black for formatting and a few (non functional change) updates.

[2020-02-08 17:00] vsoch commented on #109
okay just hit the error with local testing - a deprecated key "scale"
[code]

[2020-02-08 17:01] vsoch commented on #109
Triggered from calling `matplotlib.use("pdf")`

[2020-02-08 17:07] davidparsson commented on #109
Ok, thank you!

Do you know if there's a way around that issue, or if deid will be stuck on
this version?

On Sat, 8 Feb 2020 at 18:01, Vanessasaurus <notifications@github.com> wrote:

[2020-02-08 17:09] vsoch commented on #109
I would say with some confidence that it can be fixed, if someone can put in the time to test some workarounds.

For you and others interested in debugging this issue, I've created a starting branch that again restates the error:

https://github.com/pydicom/deid/pull/111

I've also added the help wanted label to this issue.

[2020-02-08 17:11] vsoch commented on #109
Some possible things to look into:

 - if the syntax / way of using the pdf backend has changed
 - if there is a system dependency missing (and it's a silent / misleading error)
 - if others have encountered this, of course.
 - why the KeyError is for scale

[2020-02-08 17:44] davidparsson commented on #109
All right, that's reasonable. Thank you!

On Sat, 8 Feb 2020 at 18:09, Vanessasaurus <notifications@github.com> wrote:

[2020-02-08 23:42] vsoch commented on #109
hey @davidparsson good news! I gave this another look over with fresh eyes, and it looks like the matplotlib issue was something on my system - when I removed and reinstalled with pip the tests pass! I've updated the PR, so now you should be able to clone and install this branch, and take it for a spin to see if any issues are reproduced. https://github.com/pydicom/deid/pull/111

[2020-02-09 12:49] Spenhouet commented on #108
It seem like we will go about anonymization by simply not transmitting DICOMs at all and only transferring image data (NIfTI).

Thanks for pinging me and sorry for my late reply.

[2020-02-09 14:35] #108 closed

[2020-02-14 16:34] vsoch commented on #109
hey @davidparsson any updates on being able to test the PR? I also wanted to get your feedback on using matplotlib-base [see the conda suggestion here](https://github.com/conda-forge/deid-feedstock/pull/4)! Would you have time in the coming future to test either of these for your use case?

[2020-02-14 17:44] davidparsson commented on #109
Nope, sorry @vsoch! I gave it a quick look but got stuck since I didn't have any test data that could trigger the behavior. Do you have any at hand?

If I'm not able to get this done during the weekend it will likely be a week or two before I can spend some more time on it.

[2020-02-14 17:48] vsoch commented on #109
That's totally ok! There is definitely no rush - when you have some time~

[2020-02-26 12:47] davidparsson commented on #109
Ok, I'm ready to dig into this. However, as a complete newbie on `deid` I don't really have any clue on what is needed to reproduce this, both in terms of DICOM data and configuration, and when that's done I'm not entirely sure what to look for either. If you're able to provide me with some pointers, I'd really appreciate it, and if not I'll have to manage anyway.

[2020-02-26 17:34] vsoch commented on #109
The best thing to do I think is to follow the getting started guide, and walk through some of the examples and ensure that everything works okay. Have you seen the docs at https://pydicom.github.io/deid/getting-started/index.html ?

[2020-02-26 19:27] davidparsson commented on #109
Thanks, I'll give it a shot!

[2020-02-26 19:44] vsoch commented on #109
Thank you!

[2020-03-04 10:19] davidparsson commented on #109
@vsoch, I have not been able to find any issues on this branch.

**What I have done is:**

1. Create a recipe that cleans a few pixels in a DICOM image
2. Create a Docker image from this branch
3. Clean a DICOM file using the image and recipe, and saving the result both as `.dcm` and `.png`.
4. Compared the results from the same recipe but with the image `pydicom/deid:latest`.

**Findings:**

The

[2020-03-04 10:21] davidparsson commented on #109
Do you think any further investigations are needed? If not, can I expect a release without the matplotlib version restriction any time soon?

Thank you!

[2020-03-04 17:50] vsoch commented on #109
I'm in agreement. I'll move forward with merging and releasing. Thanks for testing @davidparsson !

[2020-03-04 20:11] #109 closed

[2020-03-04 20:20] vsoch commented on #109
Thank you for your help with this @davidparsson ! There should be two releases you can choose from now, the first with >= and the second with the dependency lifted. Please open another issue if you run into trouble with this change.

[2020-03-05 07:35] davidparsson commented on #109
Thanks!

Regarding this:

I don't know enough about matplotlib/matplotlib-base/conda to give any useful feedback.

[2020-03-05 20:48] vsoch opened #115 "Discussion for tag list groups"
This is discussion continued from https://github.com/pydicom/deid/pull/112#issuecomment-595326430.

---------------------------------

I agree... when I came back into the office this morning and re-read, I didn't like it either. Really, I think I merged two purposes (scanning the tag values and identifying the targeted tag identifiers).  For the sake of clarity, I'm going to try again with an exa

[2020-03-05 21:04] vsoch commented on #115
Okay first I'd like to clarify my understanding. This section:

[code]
Says that for each named tagvaluelist, we can ultimately expect a list of strings. The commands relevant are:

 - SPLIT:  is in the format `SPLIT <field> <parameters>` and the expected parameters can be minlength and splitval. So if the user doesn't require a minlength, if a string is split and one entry is an empty string, I a

[2020-03-05 21:18] vsoch commented on #115
Also taking into account what a more full recipe looks like (https://github.com/pydicom/deid/blob/master/examples/deid/deid.dicom) with filters:

[code]
We are basically proposing to add a section that is general and lets the user define a list of things based on some parsing / criteria. This means that reading in the recipe would store the actions with the recipe object, but the actual derivation

[2020-03-06 00:09] vsoch commented on #115
The typical usage for a REMOVE is to target a FIELD as the second variable, e.g.,

[code]
However in the way you suggested it, you are providing a list of values, but they aren't for fields - they are for a list of _values_ that could be found in any field. But if we wrote this:

[code]
intuitively that reads as "Remove the group of friends represented in patient_info" and not "remove the group of

[2020-03-06 14:45] wetzelj commented on #115
This approach is great!  It keeps the recipe clear and explicit while providing the flexibility needed.

Let me know how you would like to proceed from here.   In one of your prior responses, you mentioned that you would "likely want to take charge of the work", however, I'd like to assist in any way you think would be beneficial.

[2020-03-06 15:12] vsoch commented on #115
I should be able to make time this weekend to get this underway! I will need huge help to test, possibly write a few new tests, and two issues I’m interested in about updating the version requirement for pydicom and lifting for matplotlib. I’m hugely busy this morning as I have meetings and a podcast recording, but hopefully might even be able to get started this evening. How would you like to pro

[2020-03-06 15:21] wetzelj commented on #115
I've done some preliminary testing on #113 and will be performing some additional testing this afternoon. In general, I think it is good functionality to have at our disposal.  We'll definitely be able to help with testing.

In general- are you okay with me opening other issues? I'd like to get an issue out there for the Private Tag inclusion.

[2020-03-06 18:40] vsoch commented on #115
Yes 100%! I think here is how I see next steps:

 - finish up #113 since REMOVE with a function is useful to have for the current implementation
 - I'll work on adding the features we discussed here for the next PR
 - I think this recipe update will likely require a version bump, and once we have bump, I see two rounds of work - the first to optimize how the parsing is done, and then the second to

[2020-03-06 20:01] vsoch opened #116 "Function return types need handling"
As discussed in https://github.com/pydicom/deid/pull/113#pullrequestreview-370586965, currently it's possible to provide a function that returns the wrong return type for a variable. This will trigger an error, and likely it should be better handled. Here are some examples from @wetzelj:

    - PatientID is defined as DICOM datatype LO (Long String) - custom function returns an integer
    - CTDIv

[2020-03-06 20:15] wetzelj opened #117 "Optimize replacement functionality"
As discussed starting in [PR #112 (comment)](https://github.com/pydicom/deid/pull/112#issuecomment-594922571), optimize the processing of recipe actions to more efficiently perform defined actions.

[2020-03-06 20:29] wetzelj opened #118 "Apply deid recipe actions to private DICOM tags"
As discussed within PR #112 (comments), expand the list of fields evaluated to include private tags.  This should enable recipe actions to be defined and applied to private tags in the same manner as they can be applied to public tags.

Since private tags do not have an assigned Name, these will have to be identified using the DICOM tag numbers.

[2020-03-06 20:51] vsoch commented on #118
Yes! And we'll also need to better account for types. Most private tags can be indexed with their tag object, but when it comes to assigning some new value, we can't just throw in a string like we would for something like PatientID. This is similar to the function assignment issue, but more common for tags because it's never a simple string, but usually another Data Element.

[2020-03-06 21:15] vsoch opened #119 "Discussion: Add class to handle get/set"
Right now, the user is required to run the get and replace identifiers functions separately. Between these actions, there is a step to add any variables or functions that are needed. My thinking is that we might be able to provide an easier to use interface with a class. It might look something like:

[code]
of course with many more variables than I'm adding here. and careful thought about how to

[2020-03-07 19:24] vsoch commented on #115
Just a quick note - I'm thinking instead of `splitval` to just use `by` since a parameter for `SPLIT` implies split. So something like:

[code]
Is there any reason to not allow any number of parameters after `SPLIT` and the field (or expander) so instead we would just do:

[code]
I'm going to give this a try - we read in the split command, then the field or expander, and then any number of argumen

[2020-03-07 19:30] vsoch commented on #115
Another question - would a `#` ever be a split value? The reason is because I want to clean up any comments on the line. If splitvalue is #, then we would run into trouble!

[2020-03-07 23:03] wetzelj commented on #115
Good thought.  I like the way that reads.  As for the # as a delimiter - personally, I think it’s an okay limitation to say it can’t be used as the delimiter.

On Mar 7, 2020, at 2:24 PM, Vanessasaurus <notifications@github.com> wrote:

﻿

Just a quick note - I'm thinking instead of splitval to just use by since a parameter for SPLIT implies split. So something like:

%values cookie_names
SPLIT Pa

[2020-03-08 18:21] vsoch opened #121 "Consider switching to pytest"
Right now, writing tests with unittest seems a lot more laborious than pytest. We should consider switching, although I'm not sure if there is ever a good time!

[2020-03-09 15:58] wetzelj opened #122 "Datetime JITTER Error"
Performing JITTER on fields defined as DICOM "DT" datatype throws an Overflow Exception.

Background:

Per the DICOM specification, the [DT Datatype](http://dicom.nema.org/dicom/2013/output/chtml/part05/sect_6.2.html) is defined as:

Currently, in [deid\utils\actions.py](https://github.com/pydicom/deid/blob/3b924bbef2c2f5a4d5f79f7b55ea1fbace9b3880/deid/utils/actions.py#L99), dateutil.parser.parse

[2020-03-09 16:06] wetzelj commented on #122
We should also think about what happens if there is an exception with parsing... would it be beneficial to set the timestamp to the current timestamp if any exception or error occurs during parsing?  I'm thinking that if a user has specified JITTER, they ultimately want the value changed.  If something bad happens during parsing, it may be better to default the date to the current date rather than

[2020-03-09 16:09] vsoch commented on #122
I think this issue would be addressed by #119 - basically doing a get/set based on the datatype. This falls into that bucket of issues. The idea for the parsing also makes sense, we could have a default be the datetime.now().

[2020-03-12 17:05] vsoch opened #123 "Add additional filters for REMOVE"
Now that REMOVE has support for a boolean func, it makes sense to also add the other filters (as they return booleans)

[code]

[2020-03-12 19:51] vsoch commented on #123
Closed with #124

[2020-03-12 19:51] #123 closed

[2020-03-28 16:12] vsoch commented on #119
@wetzelj using [iterall](https://github.com/pydicom/pydicom/blob/e7de71b4a2c7e15b1d23197a00642951cd695d94/pydicom/dataset.py#L2010) might be useful instead of dicom_dir().

[2020-03-28 16:58] vsoch commented on #119
Here are some example of iterating through things. When we use iterall we get a DataElement each time, all of which have a name:

[code]
but not all of them have what we traditionally use, keywords (e.g. PatientID or PixelData). The above elements (unwrapped from sequences) do not.

[code]
So my next question is if I loop through the elements once, and I make a change to the flattened item, does i

[2020-03-28 17:47] vsoch commented on #119
The `contender.keyword` won't work either as an index, there are several that are empty:
[code]

[2020-03-30 06:36] RachelJau commented on #100
I came across the same problem when I was doing the DataCamp project. And the solution is to remove all the print(), display() function. I think they just set the format of answers they want to get(*_*)

[2020-03-30 08:00] vsoch commented on #100
Why is this error related to deid?

[2020-04-26 14:24] amaniBoughanmi commented on #100
I have the same issue on the same Datacamp task, how did you resolve it please ?

[2020-04-29 12:08] aladushka commented on #100
I removed display() as advised by MAStarsis and it worked.

[2020-04-29 18:39] vsoch commented on #122
@wetzelj I think we fixed this with #117 - please update or close the issue when you are happy!

[2020-04-29 18:40] vsoch commented on #121
I think unittest is working fine for now, going to close this issue.

[2020-04-29 18:40] #121 closed

[2020-04-29 18:40] vsoch commented on #118
This is definitely done! Please open a new issue if anything comes up.

[2020-04-29 18:40] #118 closed

[2020-04-29 18:41] vsoch commented on #119
This is now handled with the DicomParser class, e.g., https://pydicom.github.io/deid/getting-started/dicom-put/

[2020-04-29 18:41] #119 closed

[2020-04-29 18:42] vsoch commented on #115
Groups were added in #120.

[2020-04-29 18:42] #115 closed

[2020-04-29 18:42] vsoch commented on #16
This is out of scope for deid (and no discussion has happened for about a year) so closing issue.

[2020-04-29 18:42] #16 closed

[2020-04-29 18:44] vsoch commented on #116
I think we would still need to add this check (quick glance I don't see it).

[2020-04-29 18:45] vsoch commented on #117
I think now that we have the DicomParser, we could look into discussing this again (but once you have some time @wetzelj, don't worry doesn't need to be soon!)

[2020-04-30 14:09] wetzelj commented on #122
Yes.  This was fixed with #119 and covered by test_jitter_timestamp!

[2020-04-30 14:09] #122 closed

[2020-05-12 20:14] tanyabaramzina commented on #100
Thanx! Had the very same problem with DataCamp task and couldn't figure out what's wrong. Removing display() helped.

[2020-05-14 02:51] SpiroGanas opened #128 "Issue with a DICOM file that contains a list in the ImageType element"
Hello,

One of my DICOM files has an ImageType element that is a list:

![image](https://user-images.githubusercontent.com/3968834/81886707-5f3b9100-956b-11ea-8d15-83d7890320d0.png)

Could you please update line 158 of filter.py to handle this situation?

https://github.com/pydicom/deid/blob/8ca068ea17a6c7c2997c12105c1b9ae1f460470b/deid/dicom/filter.py#L152-L163

Thank you very much,

[2020-05-14 03:41] vsoch commented on #128
Happy to! Could you please provide a file and code snippet to reproduce the bug, and the version of deid? I’ll put in some time tomorrow. Thank you!

[2020-05-14 15:52] SpiroGanas commented on #128
deid version: 0.2.0

This code adds a few fields to your example DICOM file, and then runs the code that gave me an exception:

[code]

[2020-05-14 16:23] vsoch commented on #128
okay taking a look! I'll also add the ability to load the dataset from the ds object (instead of needing to save first). I'm thinking that we had a huge factor of the DicomParser and didn't check all these functions in the cleaner. I'll know soon.

[2020-05-14 16:30] vsoch commented on #128
Here is the error I'm hitting - does this reproduce your error?

[code]

[2020-05-14 16:47] vsoch commented on #128
This one too:

[code]

[2020-05-14 16:47] vsoch commented on #128
Working on it now!

[2020-05-14 17:01] vsoch commented on #128
@SpiroGanas I have a PR for you to test! https://github.com/pydicom/deid/pull/129. I want to suggest that if you want custom parsing of your dicoms, to look at the DicomParser as an alternative to the DicomCleaner: https://pydicom.github.io/deid/getting-started/dicom-put/. They are fairly similar, the main difference is that the cleaner is optimized to return files based on lists they quality for

[2020-05-14 18:45] #128 closed

[2020-05-24 04:40] sjswerdloff opened #130 "generate_uid example should return a value that conforms to the DICOM VR UI character repertoire"
https://github.com/pydicom/deid/blob/master/examples/dicom/header-manipulation/func-replacement.py#L98
uses uuid and a str representation of that. (e.g. 022f82f4-e9df-4533-b237-6ab563dfaf56 )

But the DICOM UI has a different character repertoire.
"0"-"9","." of Default Character repertoire.  There's a lot more detail in the standard, e.g. no leading zeros.

for example: "1.2.840.10008.1.1" (no do

[2020-05-24 04:42] vsoch commented on #130
That would be a good update, as long as it’s not too complicated so it’s still a dummy example (keep this in mind, I’m not showing how to generate some actual important thing, it was just a random dummy example). Would you care to open a PR with a suggestion?

[2020-05-24 09:03] sjswerdloff commented on #130
I created a PR, but it's really intended as a straw man/example.
I could only do it against master, and not development (development didn't have a lot of the files, there was merge conflict, etc), so I couldn't adhere to that part of the Pull Request process.

[2020-06-02 15:28] Mattertorian opened #132 "Error when using functions"
Thank you for this nice library!

Currently, I experience an error, when I try to use a function in my deid recipe.

I have tried to follow the pusheenize example but still experience the issue.

I get the TypeError: "pusheenize() got multiple values for argument 'item'"

Poking around the source code, I can't see any reasons for this error.

Please tell me if I am making any obvious mistakes.

Th

[2020-06-02 16:19] vsoch commented on #132
Taking a look!

[2020-06-02 16:32] vsoch commented on #132
Okay I found the bug - and the example seems off too, because why would we want to create a function to replace values with something pusheen related but then use REMOVE (which expects boolean?)

[2020-06-02 16:33] vsoch commented on #132
It looks like the recipe in the docs does use replace, e.g.,
[code]

[2020-06-02 16:36] Mattertorian commented on #132
Dang. I changed to REMOVE to check the error also happened in that case. Seems I forgot to revert it before copy-pasting the code here.
Unfortunately, I still get the same error with REPLACE.

[2020-06-02 16:42] vsoch commented on #132
yep! I've found the error and fixed it - but if you use REMOVE it won't return the expected result (so I was thrown off!) I'm still testing locally but should have a PR soon.

[2020-06-02 17:34] vsoch commented on #132
okay please review https://github.com/pydicom/deid/pull/133

[2020-06-02 19:02] Mattertorian commented on #132
Those changes fixed it for me! Thank you very much for the quick response!

I think this issue can be close with your pull request.

One more point: right now a long list of skipped tags is printed. Is there a way to avoid this printing?

Thanks again. I look forward to using the library!

[2020-06-02 19:04] vsoch commented on #132
That's based on the logger level, so (depending on your interaction) you can usually export `MESSAGELEVEL=QUIET` (or some other preferred level).

[2020-06-02 19:05] #132 closed

[2020-06-02 19:06] vsoch commented on #132
Thanks for reporting the issue! We had a major refactor of the dicom parser so I suspect there are issues hiding out there like this! This is just released:

https://pypi.org/project/deid/0.2.11/

And please report anything else that might come up so I can address promptly.

[2020-06-18 19:44] nquach opened #135 "Handling DICOM time-series data in DicomCleaner for displaying and saving images"
Currently DicomCleaner cannot handle pixel data that is time-series data in the `save_png` or `get_figure()` functions (either 3D or 4D depending on whether its greyscale or RGB), since it simply dumps the pixel array into imshow.

https://github.com/pydicom/deid/blob/618005f973ffb6e20f9c8173da92c40ab86e2650/deid/dicom/pixels/clean.py#L196

To ensure that all private health information is removed

[2020-06-26 18:47] vsoch commented on #135
hey @nquach ! I've just added support to save a 4d image as either a random selected middle slice (for png) and also for an mp4 movie (to scroll through slices). Would you like to take a look?

https://github.com/pydicom/deid/pull/136

I provided instructions in the README to reproduce with your echo image example that you gave me. Let me know if it works for you, and if any additional documentati

[2020-07-01 19:41] wetzelj opened #137 "KeyError Exception when stripping sequences"
When stripping sequences from DICOM headers, when a given sequence element exists in multiple locations in the header - or when sequences are nested, the ```del dicom[elem.tag]``` statement in [tags.py](https://github.com/pydicom/deid/blob/3f700388952353fc0a713a7e407b5774dd24a75c/deid/dicom/tags.py#L133) produces a KeyError.  In the CtBrain1.dcm sample file, this scenario can be seen with tag (000

[2020-07-01 20:33] vsoch commented on #137
hey @wetzelj welcome back!!

I think solution A (the one not commented out) looks great - if we check for None then I don't think we will hit that key error. I vote for A, and we can adjust if there is some bug report about it.

When you open the PR (or put directly in the docstring, that's probably better) please briefly explain the test (e.g., I think we'd want to make sure that a nested value i

[2020-07-02 17:35] wetzelj commented on #137
Closing... Fixed with PR #138

[2020-07-02 17:35] #137 closed

[2020-07-13 12:01] guillego opened #139 "Is this project still active?"
Deid requires pydicom == 1.3.0 which is a major version behind the current 2.0.0, are there any plans to bring it to current compatibility?

[2020-07-13 14:00] vsoch commented on #139
I believe it was pinned for the Dicom cleaner, there isn’t any reason (I don’t think) you couldn’t use a newer version of pydicom, but it would need to be tested. If you want to install it alongside 2.0.0 and give it for a spin (and provide feedback) Is be happy to officially update.

[2020-08-06 13:02] wetzelj opened #140 "Inconsistency in the application of multiple recipe rules on the same field"
After the parser update, there is an inconsistency in the manner in which multiple recipe rules applied to the same field.

Prior to the update, multiple rules were additive.
**Example 1:**
[code]
Results in 3 days being added to StudyDate.

**Example 2:**
[code]
Results in no change to the header.

**Example 3:**
[code]
Resulted in StudyDate having a value of 20200806.

After the parser update, a

[2020-08-06 15:27] vsoch commented on #140
I think you are spot on - we'd want the field to not be found, and then have it [added here](https://github.com/pydicom/deid/blob/72cd3f6bd13865651521d2ac8481a9d09535a5a5/deid/dicom/parser.py#L386) so it does seem like a bug. So see if you are able to remove the field also from self.fields to address the issue! And very good debugging, as always. :)

[2020-08-06 21:19] wetzelj commented on #140
Before I submit the pull request, could you take a look at [this commit](https://github.com/wetzelj/deid/commit/1fb38d5658aa6cf1cfbef76ad1830958c849ab79#diff-776cfd5c9387335de41894a2ea56de5f)?

The removal of the value from fields introduced a bug detected by the [test_remove_all_func](https://github.com/pydicom/deid/blob/72cd3f6bd13865651521d2ac8481a9d09535a5a5/deid/tests/test_replace_identifiers

[2020-08-06 21:26] vsoch commented on #140
That would work! I've typically seen that done more like:
[code]
but if you are sure just doing dict(fields) would work (for all python versions) then I'm good with that. You could also do:

[code]
or even
[code]
As with Python, there are always many ways to do things! I usually do the first (with deepcopy) because I know some weirdness can result with deeply nested dictionaries.

[2020-08-07 13:00] wetzelj commented on #140
I like typical. :) It's switched to deepcopy.

[2020-08-07 15:55] vsoch commented on #140
Fixed with #141

[2020-08-07 15:55] #140 closed

[2020-08-31 21:27] rmw362 opened #142 "Incorrect logic in detect.py module"
Hi,

I really appreciate all of your efforts on this project...super helpful. I came across some behavior of the detect.py module that I believe is counter to how you intended the module to work.

First, the logic of how the detect.py module flags images is incorrect, and this is due to improper indentation in the evaluate groups function starting with "#At the end of the group, evaluate the inner

[2020-08-31 21:43] rmw362 commented on #142
For reference this is the function as currently written, I have emboldened the section which requires indentation

[code]

[2020-08-31 21:43] vsoch commented on #142
Thank you for pointing this out! I would definitely be open to a pull request if you'd like to make these needed changes (which you've already figured out and should be given credit for). It would also be good to have a test you think appropriate to ensure that the error does not re-occur.

[2020-08-31 21:54] rmw362 commented on #142
I would be happy to submit a PR (when I have a little bit more time later this week :) ). How would you like to handle the second issue regarding coordinates of PHI? Certainly changing the behavior of the mask is a bigger change (ie mask becomes 0s, everything else 1s) and would require you to remove the SequenceofUltrasoundRegions filter from the default deid.dicom file. Otherwise, someone would

[2020-08-31 21:57] vsoch commented on #135
hey @nquach you never took a look at #136 - is it good to merge?

[2020-08-31 22:00] vsoch commented on #139
ping @guillego would you care to test this? Otherwise, I'll close the issue as I think I answered your question.

[2020-08-31 22:18] vsoch commented on #142
Great! Definitely no worries on a quick PR, I'll be here when you need me to review!

For the second issue, the change was a response to a user that found this coordinate for Ultrasound data and thought it would be useful to add. I think the original intention was to get a box (the values) and then set the values to 0 within those bounds (see my notes here https://github.com/pydicom/deid/blob/mast

[2020-08-31 22:28] vsoch commented on #135
I've merged it, and you can report issues as needed. Thanks again.

[2020-08-31 22:28] #135 closed

[2020-08-31 22:33] vsoch commented on #142
okay here you go! https://github.com/pydicom/deid/pull/143 Let me know what you think! I can either merge this (and then you can open the other PR separately) or you can PR to this branch if you want to tweak the logic. I'm good with either :)

[2020-09-04 14:08] ayepremyan commented on #100
Actually, you just need to keep only the first display() and remove the second. I think the aim of this task was to show how the display() function is working, but the question is formulated in somewhat tricky way. I think they wanted the students to repeat the same task as they did in question 2.

[2020-09-04 15:55] vsoch commented on #142
hey @rmw362 I'd like to get the fix in asap for the coordinates being reversed - did you see https://github.com/pydicom/deid/pull/143, and would you care to test it? And I'd also appreciate a PR with the first change that you suggested. Thank you!

[2020-09-09 20:24] wetzelj opened #144 "Empty values within FIELDS identified in %values sections"
This bug presents itself in two locations:
1. When a %values lists contains a FIELD which has an empty value, the empty string is used to search for fields on which to act in the action.  This causes all fields to be identified and all header fields to be removed.
2. When a %values lists contains only FIELDS/SPLITS which result in empty values within the values list, the empty list is used to when

[2020-09-09 20:32] wetzelj commented on #144
FYI... I recently updated to black v20.8b1.  It appears to have introduced some changes to the docstring quotes.  If there's a specific version I should be using, let me know. :)

[2020-09-09 21:09] vsoch commented on #144
Your branch looks great! One suggestion, it's slightly more python to do:

[code]
instead of
[code]

For black we install the latest version, so it might be okay (we can see how it runs when the PR is opened). We can pin a version if necessary after that. Open away! :)

[2020-09-09 21:58] vsoch commented on #142
I've merged the fix for the keepcoordinates, I don't see the tab that you are referencing in the above huge snippet so I'll wait for your PR (or just showing me so I can make the fix). Thanks!

[2020-09-09 22:11] #139 closed

[2020-09-09 22:12] vsoch commented on #117
Is this still something we want to discuss, perhaps in the near to distant future? :)

[2020-09-10 13:02] wetzelj commented on #117
Yes, but not quite yet. We're a few weeks away from releasing our end-user application into user acceptance testing.  At that point, we'll see more testing with a diverse sets of images.  I suspect that we'll see some minor bugs with the header deidentification once this starts.  I'd like to get further along with this testing before starting on this optimization.

[2020-09-11 18:31] wetzelj opened #146 "Default VR for added private tags"
When discussed in #127, we decided to use DICOM VR "UN" (undefined) as the default data type for a private tag. While this seemed to be okay when tested via our current unit tests, this actually causes an exception when calling pydicom FileDataset.save_as to write the output DICOM file due to the fact that the UN datatype is expecting bytes, not a string.

Would you be open to defaulting new priva

[2020-09-11 18:35] vsoch commented on #146
We should likely choose the one that is reasonable and has least potential to spit an error. If we were to do some kind of text, would adding a number spit out an error? Short text seems reasonable to not be too short or too long, and we'd want to discuss if it would work for other types too (or if we should check for the type in python and choose based on that).

[2020-09-11 19:17] wetzelj commented on #146
Based on what I can tell from some initial evaluation, the ST type will be accepting of most variants we would see. Its accepted positive/negative integers, decimals, and even a string with lengths greater than the limits defined in the standard.

I don't think it's necessarily worth checking in python and dynamically setting the type.  If we could definitively determine types, then maybe - but gi

[2020-09-11 19:23] vsoch commented on #146
Ok, let’s go with short text then!

[2020-09-11 20:19] #144 closed

[2020-09-11 20:21] vsoch commented on #144
Thank you again for this! It’s really lovely to have someone to collaborate with, and fulfilling to see the library getting better.

[2020-09-11 20:57] wetzelj opened #147 "Error with private tags in %fields sections"
Including private tags within fields sections cause all private tags to be acted upon.

Currently, in parser.perform_action, when a fields list is encountered, [expand_field_expression](https://github.com/pydicom/deid/blob/bb98013b4dad4674af0e4f338562a6773d4f8132/deid/dicom/parser.py#L333) is called using the keyword from the contender element.  In the case of private tags, the keyword of the elem

[2020-09-11 20:58] wetzelj commented on #147
@vsoch - I'm about to sign off for the week.  Will it be okay if I handle both this and #146 in a single PR next week or would you prefer them split?  Have a great weekend!

[2020-09-11 21:02] vsoch commented on #147
Yes definitely okay to combine. Have a good weekend!

[2020-09-15 16:52] vsoch commented on #146
Closed with #148, type changed to short text.

[2020-09-15 16:52] #146 closed

[2020-09-15 16:52] vsoch commented on #147
Fixed with #148.

[2020-09-15 16:52] #147 closed

[2020-09-16 20:18] wetzelj opened #149 "Pixel cleaner failures"
There are a couple small issues in clean.py:

1. Many old recipes contain filter sections which only contain coordinates and do not contain keepcoordinates properties.  The absence of keepcoordinates causes a KeyError exception when attempting to retrieve the keepcoordinates from the DICOMCleaner results ([clean.py - line 153](https://github.com/pydicom/deid/blob/63dc9e2b43b99aae8d63b51667195d441c

[2020-09-16 20:25] vsoch commented on #149
Thank you @wetzelj ! I added some comments on the code in case it doesn't send a notification.

[2020-09-30 18:32] wetzelj commented on #142
Hey @vsoch & @rmw362 -  I came across this bug in my testing as well. However, I believe that the root cause of the issue is where the group_flags and group_descriptions are being initialized to [].  Currently this is occurring on [line 146/147 in detect.py](https://github.com/pydicom/deid/blob/f53e4552822dd23cedefa8c581f95ae0b156932b/deid/dicom/pixels/detect.py#L146) - within the loop in which we

[2020-09-30 18:35] wetzelj commented on #149
Fixed with #150.

[2020-09-30 18:35] #149 closed

[2020-09-30 18:57] vsoch commented on #142
@wetzelj looks good! Yes please open the PR!

[2020-09-30 20:43] vsoch commented on #142
Should be closed by #152. Thank you @wetzelj !

[2020-09-30 20:43] #142 closed

[2020-10-01 13:11] skarrea opened #153 "Study Instance UID and Series Instance UID not changed when dicom contains Related Series Sequence tags"
It seems that Deid does not manage to find and change the the Study and Series Instance UID tags that are outside the Related Series Sequence when Related Series Sequence tags are present.

I've appended a (almost) minimally working example reproducing the error I see in my data. The python code first generates a dicom file and then tries to clean it by changing `contains:StudyInstanceUID` and `co

[2020-10-01 17:21] vsoch commented on #153
Thank you for the report, and the clear way to reproduce! I'm testing locally and I've reproduced, and I'll share what I've found. It does look like the replacement function itself works okay - here we see that all the occurrences of the instance UIDs are changed to modified:

[code]
However the bug seems to be in actually using those fields to do the save, because the resulting file appears as yo

[2020-10-01 17:36] vsoch commented on #153
oh oops, I spoke too soon... I think I fixed it! Let me put in a PR.

[2020-10-01 18:01] wetzelj commented on #153
I've only cursorily read this (and have to hop on to a meeting now), but wasn't the iterall introduced to enable us to act on sequences and sub-sequences as well?  Does removing the iterall break anything with detecting data in those subsequences?

[2020-10-01 18:07] vsoch commented on #153
Here is the PR! https://github.com/pydicom/deid/pull/154

@wetzelj actually I don't think so! The reason is that we already loop through a sequence, discover that it is a sequence, and then add it's values as datasets to parse through. So we sort of unwrap the list. I think this issue likely arose because this function first just iterated through fields (and did it's own manual extraction of neste

[2020-10-02 13:59] mjcbello opened #155 "Detect exits when recipe does not contain filters"
Hi @vsoch ,

I've been working with @wetzelj on our internal deid pipeline project. It has been really interesting working with all things DICOM and pydicom/deid. Thank you for your contributions!

During my testing, I noticed that calling detect on the DicomCleaner results in a bot.exit() if the current recipe file does not contain any filter sections. Is this the intended behavior of the applica

[2020-10-02 15:39] vsoch commented on #155
Definitely not! It would be good to, in addition to adding the return, print a clear message for the user (debug or info, up to you!)

[2020-10-02 16:21] mjcbello commented on #155
Sounds good! I have a fix ready. Would you like me to submit a pull request against the currently opened pull request #154 or a new pull request against master?

[2020-10-02 16:32] vsoch commented on #155
It would be easier to package it in the same version as #154 - and if you have bandwidth and are able, a review of the PR would be helpful! Sometimes users open issues and then there is a fix but they never come back to review, even if things are ready to go. So your review would be greatly appreciated!

[2020-10-02 16:33] vsoch commented on #155
And wow, I'm honored you opened your first issue here! Open source is a lot of fun, welcome to GitHub!

![image](https://user-images.githubusercontent.com/814322/94947321-b5698c00-049a-11eb-919d-3be33fb5275d.png)

[2020-10-02 16:52] wetzelj commented on #153
Sounds good.  I ran some tests and it seems to be okay - I didn't notice anything being lost, just the new corrected functionality. :)  I'll keep an eye out as I continue development/testing.

[2020-10-02 18:08] vsoch commented on #153
Fixed with #154

[2020-10-02 18:08] #153 closed

[2020-10-02 18:54] vpapaioannou opened #157 "WARNING No specification, loading default base deid.dicom"
I run the following lines of code,
[code]
and I get the warning ` WARNING No specification, loading default base deid.dicom`. I did some investigation, I didn't find the reason. Could you please explain?

Thanks

[2020-10-02 18:58] vsoch commented on #157
If you are just using get_identifiers and not providing a deid recipe (a specification to say actions you want to perform) deid is going to use the default that is provided, here.

https://github.com/pydicom/deid/blob/master/deid/data/deid.dicom

That's what the message is telling you. The warning is a warning only, it does not exit the script or otherwise raise an error.

[2020-10-02 21:39] #155 closed

[2020-10-05 10:34] skarrea commented on #157
Can I pitch in?
I was kind of wondering about the same thing - the warning arises from the get_identifiers call. From the definition of the get_identifiers I can't seem to figure out where to specify the recipe:

[code]

[2020-10-05 10:51] skarrea opened #158 "bot.level set to 3 when importing DeidRecipe"
When trying to suppress the error message mentioned in #157 I noticed that `bot.level = 3` is assigned in line 38 of [deid/deid/config/\_\_init\_\_.py](https://github.com/pydicom/deid/blob/master/deid/config/__init__.py). Thus regardless of the specified `MESSAGELEVEL`  in the environment variables which is used in the [DeidMessage class](https://github.com/pydicom/deid/blob/master/deid/logger/mes

[2020-10-05 16:41] vsoch commented on #158
@skarrea would you like to just remove that line? That would respect the user-set level. And for #157 - another idea is to remove that line all-together, or put it at a higher level where it's needed (perhaps get/set identifiers). Would that work for a fix?

[2020-10-05 16:53] vsoch commented on #157
Please see https://github.com/pydicom/deid/pull/159 as a suggested solution.

[2020-10-05 16:53] vsoch commented on #158
Please see https://github.com/pydicom/deid/pull/159 as a suggested solution.

[2020-10-05 18:06] skarrea commented on #158
Yes, that is perfect!

[2020-10-05 18:06] #158 closed

[2020-10-05 18:20] vsoch commented on #157
Fixed with https://github.com/pydicom/deid/pull/159. Thanks!

[2020-10-05 18:20] #157 closed

[2020-10-06 16:47] vpapaioannou commented on #157
When calling `get_identifiers` there is a `config` argument. If you don't pass a value for it you get the warning while internally a default recipe is used. If you still want the default recipe to be considered but don't get the warning, pass `config = None`.

[2020-10-06 16:50] vpapaioannou opened #160 "ImportError: cannot import name 'get_private'"
Running `from deid.dicom import get_private` I get the error `ImportError: cannot import name 'get_private'` while I can see `get_private` function in `deid/dicom/tags.py` file. For e.g. `get_identfiers` the `from deid.dicom import get_identifiers` works fine.

I see `remove_private` lies within another file while it appears relevant to `get_private`. Is there a reason for that?

Thanks.

[2020-10-06 16:57] vsoch commented on #160
If the function is in the file `deid.dicom.tags` then you need to import it from there :) The other functions (get_identifiers, replace_identifiers) are provided one level up for ease of use, but `get_private` is not as commonly used and thus needs to be imported from the module where it's defined.

[2020-10-06 17:00] vpapaioannou commented on #160
I what sense are they one level up? Because the exists in another file instead of `tags`. Using `died.dicom.tags` works.

Thanks.

[2020-10-06 17:05] vsoch commented on #160
So the functions [get_identifiers](https://github.com/pydicom/deid/blob/master/deid/dicom/header.py#L46) and [replace_identifiers](https://github.com/pydicom/deid/blob/master/deid/dicom/header.py#L113) are defined in deid.dicom.headers. When I say one level up, I mean that they are imported into the `dicom/__init__.py` (see here https://github.com/pydicom/deid/blob/master/deid/dicom/__init__.py).

[2020-10-06 17:09] vpapaioannou commented on #160
Thank you again! It's clear now.

[2020-10-06 17:09] #160 closed

[2020-10-06 17:37] vpapaioannou opened #161 "Saving `replace_identifiers` output : Request"
When running `replace_identfiers` with `save = True`, `output_folder = myoutput` and `overwrite = False` it seems that file e.g. `/a/b/c.dcm` is saved as `myoutput/c.dcm`. However, if there is another file `a/d/c.dcm` then there is a conflict and error `ERROR image1.dcm already exists, overwrite set to False. Not writing.` is thrown.

Then, the feature request is to be able to save the files as `m

[2020-10-06 18:41] vsoch commented on #161
@vpapaioannou the purpose of the `overwrite` argument is that, when set to True, if the file already exists it will write over it, exactly as you've specified. The default is set to False, as a protection to the user that might be writing over an existing file they didn't know about.

[2020-10-06 18:43] vpapaioannou commented on #161
I want to have both files e.g. same file name from two different sources.

[2020-10-06 19:04] vsoch commented on #161
The organization of your output folders is up to you. If you want to save reflecting a different origin, then I'd just call the function twice with two output folders with different roots.

[code]
You can also just change the input file names to reflect what you need.

[2020-10-06 19:35] #161 closed

[2020-10-06 19:49] vpapaioannou opened #162 "Documentation : Recipe Labels title"
Documentatoin https://pydicom.github.io/deid/user-docs/recipe-labels/ shouldn't have 'Recipe Labels' instead of 'Recipe Headers'?

Thanks.

[2020-10-06 19:55] #162 closed

[2020-10-06 19:57] vsoch commented on #162
Good catch, thanks! It should be updated after GitHub pages re-renders, and of course the browser cache is off.

[2020-10-06 20:10] vpapaioannou commented on #162
Btw, would you like me to tell you that kind of stuff? I saw few more but I don't want to bother you.

[2020-10-06 20:11] vsoch commented on #162
Most definitely! And here is an idea - if you want to work on a single PR to update the docs, maybe take a few days as you are using deid to catch issues, if it's substantial fixes I'd be happy to receive the PR and give you a Hacktoberfest credit for it.

[2020-10-06 22:37] vpapaioannou commented on #162
Sounds good.

[2020-10-16 09:31] allanhummer opened #163 ""stop_before_pixels" argument for "get_identifiers""
Sometimes image information of the DICOM is not needed when processing the headers (e.g. for grouping multiple measurements of the same patient). Especially when dealing with large quantities of DICOMs, it would be very useful to omit the pixel array to save a lot of memory.

read_file (dcmread), which is used by deid already has a "stop_before_pixels" argument. It would be great to access this di

[2020-10-16 16:23] vsoch commented on #163
Sure, that sounds easy to do! Here is a PR https://github.com/pydicom/deid/pull/164 for you to test, and I've added some questions I'm interested in your feedback on.

[2020-11-17 20:34] wetzelj opened #165 "Ultrasound Deidentification - Pixel Masking Failure"
When deidentifying an ultrasound, an error was encountered when the ultrasound study contained single image RGB stills as well as RGB cine clips. When the study encountered one of these single-image stills, an exception occurred:
[code]
This issue appears to be due to an error with [clean.py line 223](https://github.com/pydicom/deid/blob/e7d1e571e7085a0ff272a955195851e3a661fb8b/deid/dicom/pixels/c

[2020-11-17 20:41] vsoch commented on #165
Oh interesting, I didn't know about the single frame RGB image. Looking at [SamplesPerPixel](https://dicom.innolitics.com/ciods/cr-image/general-image/00880200/00280002) it notes that:

So would you want to add a check under original.shape == 3 to have different logic depending on this field? If you want to open a PR with this suggested change, it would be great - we want to also have a test case

[2020-11-17 20:47] wetzelj commented on #165
Sounds good.  I'll get started on something.  It may take me a bit to get the sample image for upload created and approved.

[2020-11-18 17:10] wetzelj commented on #165
If you'd like to take a look at what will be coming, it's committed [here](https://github.com/wetzelj/deid/tree/fix/rgb-ultrasound).  I'm still waiting for a greyscale cine clip to test with and still waiting for images that I can contribute to the project.  Once I have these, I'll commit and open the pull request.

[2020-12-07 17:19] wetzelj commented on #165
Fixed with #166

[2020-12-07 17:19] #165 closed

[2020-12-07 18:13] wetzelj opened #167 "Refactor Unit Tests to utilize separate data store for sample images"
Created this issue to continue discussion started on PR #166:

Having looked closer at [pydicom-data](https://github.com/pydicom/pydicom-data), I wonder if it would be better for us to first attempt to convert the unit tests to use images that are already stored within pydicom-data?  While I haven't done an exhaustive look to determine if all of our test cases could be covered by images in pydicom

[2020-12-07 18:16] vsoch commented on #167
@wetzelj I think this is a great idea - and we could still keep (the smaller) files alongside deid in case anyone wants a quick dataset to play with. If there is something missing, I'm hoping that @darcymason would be open to a PR for us to add it. That way, both repos can share the same testing data.

[2020-12-07 18:56] wetzelj commented on #167
What are your thoughts on potentially upgrading pydicom beyond the current required version 1.3.0 with this?

For about two weeks now, I've been running the latest deid code with pydicom 2.1.1 and have seen no issues with this upgrade.  Between 1.3.0 and 2.1.1 there have been some changes to [pydicom.data](https://pydicom.github.io/pydicom/stable/reference/data.html) which could impact how this is

[2020-12-07 19:00] vsoch commented on #167
Yep I think that would be totally okay - the reason for pinning was something related to the cleaner a while back, and likely it's not an issue anymore. I bumped to allow for >= 1.3.0 for the feedstock and haven't heard any issues (yet). https://github.com/conda-forge/deid-feedstock/blob/master/recipe/meta.yaml#L26. Definitely update the version to be >= whatever minimal one that you suspect needi

[2020-12-07 20:39] darcymason commented on #167
Absolutely, no problem.  Wouldn't want huge files (or a large number of smaller files) because some people will still download the whole set, but if just adding some reasonably sized ones, I would welcome that.

[2020-12-07 21:53] vsoch commented on #167
Awesome, thank you @darcymason ! @wetzelj you're good to go!

[2021-03-14 15:55] JJdeRidder commented on #130
In https://github.com/pydicom/deid/blob/master/examples/dicom/header-manipulation/func-replacement.py#L106
a root of an organization is used to generate the UID.
I think you can also just use the root '2.25' for a UID created from a UUID, as specified in the [standard](http://dicom.nema.org/medical/Dicom/2017c/output/chtml/part05/sect_B.2.html). As long as you use it for dynamically created UIDs.

[2021-03-14 17:08] vsoch commented on #130
@JJdeRidder I think @sjswerdloff added his update here: https://github.com/pydicom/deid/pull/131 and your point is a good one too! Do you want to add this note to the script / documentation for future folks to find? After that, we can close the issue.

[2021-03-14 20:15] vsoch commented on #130
We've addressed both things here, closing issue! Thank you to you both!

[2021-03-14 20:15] #130 closed

[2021-04-06 15:47] jkarten95 opened #169 "How to obtain DICOM header field's specific value for use in replacement function and how to preserve DICOM folder structure"
Hi All,

I was wondering how to obtain the value of a DICOM field within a function I am using to replace this value? For example, I would like to use the **original** Patient ID field value in order to generate the **new** Patient ID field value. I seem to be able to obtain a DicomField object, but I do not see an attribute to return the specific value for the tag/field of interest.

Additionally

[2021-04-06 16:35] vsoch commented on #169
See the generate_uid function example https://pydicom.github.io/deid/examples/func-replace/

[2021-04-06 16:49] jkarten95 commented on #169
@vsoch unless I misunderstand, that example returns field.name which is the name of the DICOM tag. Is there a way to extract the specific number/string associated with that tag? I.e. If I have patientID as my tag, how do I extract patientID = 1234? Thanks for your help.

[2021-04-06 16:55] vsoch commented on #169
You can return whatever you like @jkarten95! The example returns a custom UID string that is not related to the field.
[code]
You can get whatever values you need in item, which is a dictionary (lookup) of all previous fields, and return whatever you like. So I'd try something like:

def generate_uid(item, value, field):
    if hasattr(field, 'name'):
        field = field.name
    if field.lower(

[2021-04-06 17:02] vsoch commented on #169
You probably don't need the line to check the field because in your deid recipe you can just do:

[code]

[2021-04-06 17:12] wetzelj commented on #169
For my purposes I was able to read the file and append the original values on to the array that is passed into the ids parameter of replace_identifiers().  In my use case, I'm already reading the file for some other purposes, so introducing this step to add these into the ids array was of minimal impact. The original field values are then accessible as variables for use in the recipe.

With this f

[2021-04-06 17:19] jkarten95 commented on #169
Thank you both so much for the help! I was able to complete the code.

[2021-04-06 17:19] #169 closed

[2021-04-08 19:09] jkarten95 opened #170 "Preserving initial folder structure"
Hi All,

In reading the documentation, I see that I can output a newly de-identified .dcm file to a specified folder. I was wondering if there is a way to de-identify "in place" instead of sending to a new folder and thereby preserving the original folder structure? I ask because the imaging studies are kept in complex folder structures that we'd like to maintain. Thanks for any advice!

Jordan

[2021-04-08 19:55] vsoch commented on #170
Could you show me the exact command you are running so I can take a look? There are several ways to interact with deid and I want to make sure we are discussing the same one.

[2021-04-08 20:24] jkarten95 commented on #170
Sure!

[code]

I am wondering if instead of stripping the .dcm files from the original location, can they be saved in their original folders? Essentially I have multiple imaging studies in one directory.

[2021-04-08 21:24] vsoch commented on #170
@jkarten95 did you try setting the same output folder as where you already have the file, and then overwrite to True?

[2021-04-08 21:25] vsoch commented on #170
Actually scratch that - just leave the output folder as None and set overwrite to true. See here: https://github.com/pydicom/deid/blob/7e7196dcc21bb489b1fecf32fb5b0c0420146b3f/deid/dicom/utils.py#L97

[2021-04-08 21:25] vsoch commented on #170
Based on reading the code, that should accomplish what you want (let me know if it does not!)

[2021-04-08 23:48] jkarten95 commented on #170
That worked perfectly! Thanks for the help.

[2021-04-08 23:48] #170 closed

[2021-04-09 00:08] vsoch commented on #170
Definitely! Happy to do so :)

[2021-06-17 14:26] dipterix opened #171 "Dependence `pydicom` version too low"
Thanks for developing such great package!

I was experimenting with DICOM editing the other day. However, I encountered problem when converting DICOM from `YBR_FULL_422` to RGB color space. This feature has been added to `pydicom` since version 1.4, but `deid` still requires `pydicom=1.3`.

I resolve the issue by forcing pip to install the newest version of pydicom. However, I still want to ask is

[2021-06-17 14:31] vsoch commented on #171
Yes that would work! If you'd like to open a PR I can review it. We would want to bump the version of deid (deid/version.py) and add a note to the change log.

[2021-06-22 13:54] marcheschi opened #172 "I'm interested in validation of ocr deid tool"
Hi
I'm interested in validation of ocr deid tool.
How is it possible to contribute?
Thank you
Paolo

[2021-06-22 13:57] vsoch commented on #172
Did you mean "our" deid tool, or "OCR" optical character recognition? What tool are you talking about?

[2021-06-22 14:46] marcheschi commented on #172
I 'm interested in the OCR cleaning method .
I see in your github deid page that you are looking for collaborators ?
Paolo

[2021-06-22 15:20] vsoch commented on #172
This repository? It’s not really related to deid. https://github.com/pydicom/dicom-cleaner. The library itself needs more work and the validation so if you want to take the helm I’d be happy to support.

[2021-06-22 15:27] marcheschi commented on #172
Maybe you misunderstood me I do not want the helm,
I can make tests in order to validate the tool on real world US DICOM images for example.
In my opinione, a tool like this to deidentify  burnt image annotations is very useful.
Paolo

[2021-06-22 15:28] vsoch commented on #172
Yes! And I mean to say it would be great if you want to do that.

[2021-06-22 15:43] marcheschi commented on #172
Ok then .
How to start?
Maybe it is better to switch to a gitter chat.
Paolo

[2021-06-22 15:43] #172 closed

[2021-06-22 15:47] vsoch commented on #172
You probably need a gold standard set that has different configurations and modalities, and to manually label it and then run the tool to see how well it did.

[2021-06-22 16:08] marcheschi commented on #172
Yes this could be a valid approach, to have various configurations applied to different modalities and to different manufacturer.
I think the first step for me is prepare a VM with all necessary tools to make tests.
I installed for this purpose a Solaris vm with  Python 3.8.3
I installed deid with pip install deid.
Or I have to install a git version in order for you to make modification to the cod

[2021-06-28 12:18] wetzelj opened #173 "Recipe Error - REPLACE Rule After JITTER Does Not Replace"
When testing the ability to use variable fields in recipes, we discovered that using the REPLACE keyword in a recipe for values did not work.  Both samples below should yield the same results to the file header.

**Failed:**
[code]
**Successful:**
[code]

The real issue here:  When a REPLACE rule is executed following a previous JITTER rule, the replace is not executed.  When a REPLACE rule is exe

[2021-06-28 12:19] wetzelj opened #174 "Adding Multivalued Fields to %values Lists"
When fields specified within recipe file %values lists contain a list of items, the addition of the Multi-value value to the values array causes an exception (Exception: unhashable type: 'MultiValue').

I believe that this can be corrected checking the type of the value first - if it is [MultiValue](https://pydicom.github.io/pydicom/stable/reference/generated/pydicom.multival.MultiValue.html#pydic

[2021-06-28 12:21] wetzelj opened #175 "Date Jitter on %values Lists"
During the deidentification of a study a situation was encountered where the StudyDate value existed within a private dicom tag.  This tag (0029,1019) was of data type LO, but contained the StudyDate value:

```(0029,1019) : LO   Len: 8 <Unknown Tag> Value: [20100526]```
We attempted to handle this using current recipe functionality:
[code]
However, performing these actions did not jitter the valu

[2021-06-28 14:29] vsoch commented on #174
@wetzelj let's take these one by one! If there are easy fixes (like the one) let's do a PR from your branch and bumping the version. More complex issues (or ones you want my help with) I could take a look in an evening or weekend.

[2021-06-28 18:59] vsoch commented on #173
@wetzelj I can take a look this weekend if you don't get to it.

[2021-06-29 02:17] vsoch commented on #171
Ping @dipterix !

[2021-06-29 14:36] wetzelj commented on #174
@vsoch Sounds good... it's on its way

[2021-06-29 14:59] wetzelj commented on #171
For what it's worth - we've been using pydicom 2.1.1 with deid for several months now and have not experienced any issues.  @dipterix , @vsoch - Do you want me to create this PR?  If so, I see that version 2.1.2 has been released.  While we haven't been testing/using this version do you want me to move pydicom to 2.1.2 or set it to what I can comfortably say has been tested (2.1.1)?

[2021-06-29 15:01] vsoch commented on #171
@wetzelj let's set it to the version that has been tested. If you have bandwidth, a PR would be great! I would have time over the weekend.

[2021-06-29 15:02] dipterix commented on #171
Thanks @wetzelj , I'm not that familiar with python. It'll be great if you can help :)

[2021-06-29 21:39] wetzelj commented on #173
@vsoch - I looked into this a little bit today and I think I'm going to need your help on this one whenever you have a few moments.  I can see what's going on, but I don't understand it.

In a successful REPLACE action (I was using test_replace_with_constant to see this), when the value is replaced in parser.py - add_field() - on [line 397](https://github.com/pydicom/deid/blob/5f03d9f097ad86524c7a

[2021-06-30 00:13] vsoch commented on #173
I think that's the issue - when we run jitter_timestamp instead of just saving the value to self.dicom, we also need to update self.fields (which isn't done).

[2021-06-30 00:25] vsoch commented on #173
okay I have a fix! I'm going to have dinner but I'll PR after.

[2021-06-30 01:47] vsoch commented on #171
@dipterix this is merged into the master branch and will be available with the next release! :partying_face: we have a few other bug fixes coming in soon.

[2021-06-30 01:55] vsoch commented on #174
This is all set.

[2021-06-30 01:55] #174 closed

[2021-06-30 01:55] vsoch commented on #171
Going to close here since it's addressed - look out for a release in the next few days (or just use master!)

[2021-06-30 01:55] #171 closed

[2021-07-07 15:50] vsoch commented on #175
This is closed by #181

[2021-07-07 15:50] #175 closed

[2021-07-07 15:50] vsoch commented on #173
Fixed by #178 .

@wetzelj time for a release?

[2021-07-07 17:00] wetzelj commented on #173
Yep!  I think we're good to go.

[2021-07-13 20:13] wetzelj commented on #173
Fixed with 0.2.25

[2021-07-13 20:13] #173 closed

[2021-08-29 21:35] adildahlan opened #183 "Adding anonymising file_meta to the deid recipe"
Hi! I hope you are doing well.

I have managed to write a script that anonymises dicom files using the deid package (many thanks for making it available!).

My script anonymises the SOPInstanceUID data element of the dicom file. We know that the MediaStorageSOPInstanceUID = SOPInstanceUID. So my anonymisiation script should also set MediaStorageSOPInstanceUID to the new anonymous SOPInstanceUID.

[2021-08-29 22:37] vsoch commented on #183
If there isn't, there definitely can be! You are catching me at the end of the weekend so I can't work on this for you immediately - I'll add it to my TODOs and follow up with you either an evening this week if I have time, or next weekend. Thanks!

[2021-08-30 21:20] vsoch commented on #183
Okay, so I think I'll need a dummy/cleaned example of a file that has this field - I chose a random template one to parse and here is what I see for file_meta:

[code]

But I know it can be there! https://pydicom.github.io/pydicom/stable/tutorials/dataset_basics.html

Do you have a file with this field that I can test? I'll first test replacing it there, and then add functionality to add. I'm thin

[2021-08-30 21:48] adildahlan commented on #183
Hi @Vsoch,
I hope you are doing well,
Many thanks for working on this. Here is a link to DICOM files with the MediaStorageSOPClassUID stored as part of the DICOM file http://www.pcir.org/researchers/39419238_20010101.html.
My anonymisation deid_recipe anonymises all the dicom file header dataelement, including the SOPInstnaceUID, where the deid.dicom recipe file has the following line of code:
`RE

[2021-08-30 21:49] adildahlan commented on #183
btw, sorry I just realised that in my first message I had MediaStorageSOPClassUID instead of MediaStorageSOPInstanceUID. I fixed it above as well

[2021-08-30 22:47] wetzelj commented on #183
@vsoch - This isn't something that has come across my radar, but now that it's been pointed out, yep... this is an issue for us as well. In our standard deid scheme, we replace the SOPInstanceUID. I didn't realize it was replicated in MediaStorageSOPInstanceUID.

BTW... [cat.dcm](https://github.com/pydicom/deid/blob/master/deid/data/animals/cat.dcm) is a sample that has the field.

[2021-08-30 22:54] vsoch commented on #183
yeah I can totally support this! I think I have an idea of what I want to do - thanks for the example image @adildahlan and the feedback @wetzelj and I'll try to get something to you soon! Latest will be over the weekend.

[2021-08-30 22:58] adildahlan commented on #183
Many thanks @vsoch and @wetzelj! That sounds perfect, I appreciate it 😄!

[2021-09-07 08:00] adildahlan commented on #183
Many thanks @vsoch and @wetzelj for working on this!
You did a great job👏🏼

[2021-09-07 08:00] adildahlan commented on #183
Closed by PR #184

[2021-09-07 08:00] #183 closed

[2021-09-15 16:34] DimitriPapadopoulos opened #188 "Update lunr.min.js?"
Just wondering why the version of [Lunr](https://lunrjs.com/) used here is [0.7.0 from 2016](https://github.com/pydicom/deid/blob/04dc088/docs/assets/js/lunr.min.js#L2-L3), while the current version is [2.3.9 from 2020](https://github.com/olivernn/lunr.js/tags).

[2021-09-15 16:49] vsoch commented on #188
Is there something wrong with the old one?

[2021-09-15 16:55] DimitriPapadopoulos commented on #188
Well, the truth is I haven't found vulnerabilities associated to Lunr. But if there are, at some point, upgrading will be much more difficult.

[2021-09-15 17:02] vsoch commented on #188
I'm totally good with upgrading if there is a good reason, but I don't see one here.

[2021-09-15 17:05] #188 closed

[2021-09-21 16:13] wetzelj opened #189 "Exception when JITTER performed on empty field"
When a JITTER rule is performed on a header field which contains an empty string rather than a DICOM formatted date/timestamp value, an exception occurs, stopping the deidentification of the header.

Cause:
-  On [parser.py line 467](https://github.com/pydicom/deid/blob/d57287048f747c5ea2fa67f2f3889c8758d16df1/deid/dicom/parser.py#L467), jitter_timestamp() is called to obtain the new value for the

[2021-09-21 16:15] vsoch commented on #189
Sounds good!

[2021-09-21 18:52] #189 closed

[2021-10-26 19:56] wetzelj opened #192 "Question - Filter rules & intended behavior"
@vsoch - We came across a possible issue today with how filter rules are applied.

In the sample dicom recipe, there are many filter rules defined such as below:
[deid.dicom - line 26](https://github.com/pydicom/deid/blob/4568a29fb9f4b22a2ac940c524adc3d94c9111cd/deid/data/deid.dicom#L26)
[code]

My expectation was that this rule would be applied as:
ManufacturerModelName contains "LightSpeed VCT"

[2021-11-03 22:57] glebsts opened #193 "pydicom bump to 2.2.2 ?"
Hello,
Thank you for this package. I am evaluating it for my needs.
I can see from `pydicom` changelog, that it has some new bugfixes and additions ([changelog](https://github.com/pydicom/pydicom/releases))
How hard would it be to bump `pydicom` to latest `2.2.2`? What tests must be made and could I contribute this change?

[2021-11-03 22:59] vsoch commented on #193
If you’d like to bump the version and open a PR we can test. Thanks!

[2021-12-07 20:57] glebsts opened #197 "action order on same field"
Hello,
I am confused by following in [docs](https://pydicom.github.io/deid/user-docs/recipe-headers):

Also

But at the same time there is an example of
[code]
Here I naturally make assumption that `ALL` means `ALL`, so each field is removed, and according to rules quoted above, `REMOVE` rules over `KEEP`, so tag kinda has to be removed.
How does it work? How is `PixelData` expected to be kept?

I

[2021-12-07 21:00] vsoch commented on #197
I would try to follow the example and do a REMOVE ALL and then add the fields you want to keep. If that is successful we can update the docs to reflect it - I think the spirit of the docs is that if you were to have all those commands in the same file for the same field, it's saying that `REMOVE` would take preference. But it also could be that they are out of date.

Please test it out for your us

[2021-12-07 21:11] glebsts commented on #197
I tested on
[code]
and it ends up with everything removed. Same if I swap lines.
So seems like if I run `REMOVE ALL`, I can't `REPLACE` or `KEEP` any tag anymore.

So no idea how can I only concentrate on tags I need with dropping everything that I don't need with one-liner?

Writing documentation for open-source project based on blackbox testing sounds really weird.

[2021-12-07 21:27] vsoch commented on #197
ah then the documentation is correct. :)

I don't understand this comment (it seems like it could be a bit insulting) but I'll just say that if you see an issue in the docs you are welcome to suggest changes. In this case the docs are correct, so there's that.

In practice it's not hugely practical to just wipe every header field from a dicom - many of them are needed. I would suggest you look at

[2021-12-07 21:46] glebsts commented on #197
I'm sorry it it sounded insulting, just in my world documentation is based on actual code logic and is updated together with code changes, otherwise other teams depending on product will struggle. It is not exactly an open-source world, but I am trying to follow same practices when contributing into OSS :)

As for this specific example in docs:
[code]
which doesn't make too much sense (even just-a

[2021-12-07 22:00] vsoch commented on #197
No worries @glebsts - sometimes it's hard to tell with communication on these boards.

Your use case is new, and I think we could definitely support it with the right tweaks, and it would also be good to fix that (now dated and not working) section of the docs.

Note that we do have a "protected" set of fields https://github.com/pydicom/deid/blob/master/deid/dicom/config.json that would hurt the i

[2021-12-07 22:05] vsoch commented on #197
Oh and could you give me an example (with comments) about how a blacklist/whitelist action would work?

[2021-12-07 22:16] glebsts commented on #197
I myself go to sleep now, it is midnight here in GMT+3 DTS :) Will get back to OSS in couple of days.
`REPLACE ALL + KEEP` to work would make totally sense, but I was thinking about keeping backwards compat. That would be a breaking change, and if set into major release, can be done as is. My `BLACKLIST` suggestion was only because of backwards compatibility. If it is not important, could just nor

[2021-12-07 22:26] vsoch commented on #197
To answer your first question - yes we would absolutely be open to a PR to make this change - looking forward to chatting in a few days when you are back!

[2021-12-12 12:49] glebsts commented on #197
Hi there, quite long read for you - tests and my three statements and suggestions I'd like to implement. Vanessa, pls add your opinion on those before I start digging in code.
___
So I added some tests to `test_replace_identifiers` that illustrate minimal logic change I'd like to arrange.
___
[code]
that produces following:
[code]
**and fails** with `Error KeyError: (0008, 0020)` (which is `StudyD

[2021-12-12 19:27] vsoch commented on #197
Thank you for the detailed write-up - here are my thoughts so you can move forward:

I agree - I would remove the REMOVE > ADD tag from the docs, as I believe it reflects the original implementation of deid where we parse over actions first, decided on some "final" state and then proceeded. This version moves through the rules top to bottom and essentially follows them, so it makes sense the user

[2021-12-12 19:50] glebsts commented on #197
Thank you for comments.

Could you please explain what do you mean by "based on current state"?

In general I take that as "Yes" and will proceed with implementing whitelists (aka "KEEP overrules REMOVE") and updating docs.

[2021-12-12 20:05] vsoch commented on #197
Sure! So imagine that we have a box with different colored balls (this is the dicom file, and each ball is a header entry). If we then have a list of actions, we can move down the list one by one and interact with the balls. E.g.,:

- REMOVE red   # the new state is that the box has no red balls (state 1)
- ADD red           # the box has a red ball again (state 2)
- REMOVE red # again they are go

[2021-12-12 20:35] glebsts commented on #197
Yes, thank you, nice example :) I'll think how to put it into words without using balls, but saying in advance - feel free to patch my wording, as you seem to be native speaker :)

[2021-12-12 20:44] vsoch commented on #197
Haha definitely! It's probably not the best example - they always used [colored balls in bags as examples in statistics courses](https://thefactfactor.com/facts/pure_science/mathematics/statistics-and-probability/getting-a-red-ball/15167/), so I'm not sure I did it justice :laughing:

[2021-12-16 22:57] glebsts commented on #197
Hi there,
I pushed PR with quite straightforward solution (and tests). Before I proceed with updating all the docs (I'm slightly scared by amount of it), I'd like to know your opinion about approach taken.

[2021-12-16 23:08] vsoch commented on #197
I think the approach is fairly straight forward - the one issue I see is that self.skips is actually a property, so I'm not sure it makes sense to append to that. Perhaps that logic should be moved into the property?

Also - are we sure that KEEP will only be relevant for a field? E.g., we are just appending the KEEP field to skips. What if there is a more fine tuned logic?

[2021-12-17 13:07] glebsts commented on #197
`skip` is indeed property, and underlying getter should return ref to actual underlying instance variable, `append` is in-place operation. Seemed good enough for me, and tests shows it is valid (I also inspected during debug).. Skiplist is only checked in case of `REMOVE`, `ADD` doesn't care about it.. Semantically fields to `KEEP` we would like to skip from `REMOVE`.  Did you mean introducing com

[2021-12-17 16:17] vsoch commented on #197
It functionally works, but if someone wants to access the consistent list of things to skip, it doesn't make sense to have custom logic separate in the parse() function and then essentially return a different answer. This way also doesn't allow the disable_skips attribute to apply to the current recipe. So I would do:

[code]
With the current functionality we:
1. are not adding these to skip unles

[2021-12-18 13:48] glebsts commented on #197
Thank you for well-structured answer :)
I agree on consistency and other points you've brought. Haven't using `disable_skips` myself, I didn't think about it.
Looking at suggested getter code, I have a bad feeling about `disable_skips` vs `KEEP`.
**Imo `(disable_skip: true) != (ignore KEEP actions)`**
I.e. I want to _disable skips_ (i.e. deleting `PixelData`), and `REMOVE ALL` and `KEEP StudyDate`

[2021-12-18 15:26] vsoch commented on #197
That's a good point - perhaps we should have two properties then? self.skip remains as it is now, and then self.keep could be the similar functionality, but run the logic that you have now in the parse function. That way, we'd have the logic separate but still not be appending to a property, and the other issues I raised. E.g.,

[code]

And then in the function call to get_fields just include both

[2021-12-19 15:27] glebsts commented on #197
yes, makes sense.. I'll check _disable_skips_ usage and go the way you've suggested soon, together with docs update

[2021-12-19 20:34] glebsts commented on #197
@vsoch you are welcome to approve (or not approve :)) and merge

[2021-12-20 06:17] vsoch commented on #197
Closed with #198

[2021-12-20 06:17] #197 closed

[2021-12-20 06:26] #193 closed

[2022-01-30 01:49] surajghimire commented on #100
Found this problem on Datacamp. Sad to see they have such silly errors even after two years.

[2022-01-30 02:05] vsoch commented on #100
It’s also very funny that the issue reported and discussed here has nothing to do with the library at hand!

[2022-02-02 12:22] howff opened #200 "Keeping up-to-date with CTP"
Hi

Are you keeping up-to-date with the CTP anonymiser script, which is here?
https://github.com/johnperry/CTP/blob/master/source/files/scripts/DicomPixelAnonymizer.script

The reason I ask is because your doc references this one
https://github.com/johnperry/CTP/blob/8a3c595b60442e6d74aec4098eaed5dcf8ff8770/source/files/examples/example-dicom-pixel-anonymizer.script
which is just an example, and o

[2022-02-02 13:41] vsoch commented on #200
I am not actively doing so, but I agree that we should. Would this be something you are interested in contributing?

[2022-02-04 14:55] MarcinKamil84 commented on #100
Like @ayepremyan said: it's not an issue BUT:

* if you code

`# The oldest winner of a Nobel Prize as of 2016
display(nobel.nlargest(1, 'age'))

# The youngest winner of a Nobel Prize as of 2016
nobel.nsmallest(1, 'age')`

all works fine.

However, if you try this:

`# The oldest winner of a Nobel Prize as of 2016
display(nobel['age'].nlargest(1)

# The youngest winner of a Nobel Prize as of 2016

[2022-03-10 22:07] howff commented on #200
I might do, but I fear that the two have already diverged and it would be difficult for me to know how to get them reconciled.

[2022-03-10 22:28] vsoch commented on #200
I mean, it comes down to getting the latest file for CTP, and comparing that to what we have here - it's a pretty simple task. if you are not up to it, if you want to provide me a link to the latest file I will volunteer my time.

[2022-03-14 08:57] howff commented on #200
The link is in my first comment above.  It's in the directory https://github.com/johnperry/CTP/tree/master/source/files/scripts

It's also in your document https://pydicom.github.io/deid/getting-started/dicom-pixels/#inspiration-from-ctp
(good docs, by the way)

I hesitate to do it myself because it looks as though the pydicom syntax for this script is different, and the rules have been modified c

[2022-03-14 11:51] vsoch commented on #200
Ah fantastic idea! I'll try to make some time in evenings this week. Thank you @howff.

[2022-03-14 19:27] vsoch commented on #200
okay there aren't that many changes - will have a PR for you to review this evening.

[2022-03-14 22:24] moloney opened #201 "Old school bit-plane overlay handling"
Does this project scrub the high bits in PixelData (above "BitsStored" and below "BitsAllocated") to clear out overlays stored this way? Initially I thought this is what the pixel cleaner code is for, but it looks like this is just for handling "burned in" text overlays where the only option is to blank out a predefined rectangular region.

[2022-03-14 22:38] vsoch commented on #201
That's correct - the pixel cleaner is just for the text overlays.

If there is some other functionality you'd like, we welcome a PR, or providing enough detail so someone else could implement it.

[2022-03-14 23:58] moloney commented on #201
I am happy to make a code contribution, but I am still trying to learn my way around the project at this point so any guidance on how to accomplish this would be appreciated.

I am basically looking to remove the old (now deprecated) style of overlays described in the note at the end of page 707 of this document: https://dicom.nema.org/MEDICAL/Dicom/2004/printed/04_03pu3.pdf

These overlays can be

[2022-03-15 00:06] vsoch commented on #201
Ah gotcha! So if you have used pydicom before, what you'd want to do is write a little script that shows loading a dicom dataset, and then checking and parsing the attributes. Example images would help here that we can add to tests (small and anonymized ideally). If you don't have example images, then minimally it would be good to send me something I can work with (and I won't put anywhere / will

[2022-03-15 00:10] vsoch commented on #200
Here you go! https://github.com/pydicom/deid/pull/202

[2022-03-16 09:05] howff commented on #200
Fantastic, thank you :-) 🥇

[2022-03-16 11:32] vsoch commented on #200
Let me know when you've had a chance to review, and the changes look good to merge.

[2022-03-18 22:15] moloney opened #205 "Finding relocated private elements using "PrivateCreator""
Private elements can be relocated (group number will change) and some popular PACS will absolutely do this to data passing through them.  Instead of looking up an absolute `(group_number, element_number)` in rules, we should allow looking up private elements with a `PrivateCreator` plus an `element_number`. Then when processing a dataset you look for a matching `PrivateCreator` string (e.g. "SIEME

[2022-03-18 22:26] vsoch commented on #205
Can you give me a little example in pseudo code? E.g., the idea is that the PrivateCreator is a string and it's use in place of the group number?

[2022-03-20 20:55] wetzelj commented on #205
@moloney - Would a %values section work for you?

With a values section, you can define a field (or list of fields) that you want to use to define a set of values.  This values list would then be used in conjunction with a REMOVE or other command to change the identified tags.

[code]

**Header Before**
PatientName - John Doe
Manufacturer - Siemens
(0009,0009) - SIEMENS CSA HEADER

**Header After*

[2022-04-11 22:59] vsoch opened #207 "Add deid provided functions"
Discussion here: https://github.com/pydicom/deid/pull/203#issuecomment-1071870150

@moloney did you say you wanted to tackle this, or would you like someone else to take a first shot?

[2022-05-10 12:56] AlexanderBunt opened #209 "Add 'handler_name' to save_dicom() function"
For my project, I want to use GDCM to decompress the images (0.5 sec faster then 'default'). Can we add a parameter for this to the function save_dicom()?

Something like this:

[code]

[2022-05-10 16:00] vsoch commented on #209
@AlexanderBunt what would be the difference between the above and just adding that to be run before save?

[2022-05-11 14:11] #209 closed

[2022-05-23 23:06] #207 closed

[2022-05-23 23:07] #200 closed

[2022-06-17 01:22] kchoward48 commented on #100
This is correct. I worked on the same project. As for the reason, it is a default behavior in Jupyter Notebook:

'By default, a Jupyter Notebook (which is where you are working right now) will only show the final output in a cell. If you want to show intermediate results, you will have to use the display() function.'

So use the former code snippet in the quoted part of this post.

[2022-08-01 10:16] fcossio opened #210 "How to de-identify a `pydicom.Dataset`? - addition of example to docs"
Hi,
I have implemented my own logic to load a `pydicom.Dataset` instance from a database. I would like to de-identify the instance without having to write it as a file and then read it with `deid`.

Is there anything similar to
[code]
?

[2022-08-01 11:50] vsoch commented on #210
Aside from adding typing to deid here, you should be able to do:
[code]

[2022-08-01 11:52] vsoch commented on #210
Also, typing in and of itself doesn't prevent you from providing the wrong type! E.g.,:

[code]

[2022-08-02 14:58] fcossio commented on #210
Hi, after some more digging through the documentation, I solved my problem with the following:

[code]

Thanks for making this tool available.

[2022-08-02 17:42] vsoch commented on #210
oh that's fantastic! Do you mind if I include with our docs somewhere as an example? Even if we create a gist and then link, I think it might be super helpful for future users.

[2022-08-03 13:50] fcossio commented on #210
Actually I just found that this only works for files, there are two lines that must be silenced in order for it to work with dataset that don't come from a file:
https://github.com/pydicom/deid/blob/0807f20bfc36b1f30828ed562c7f79e14b5f6100/deid/dicom/parser.py#L114
ttps://github.com/pydicom/deid/blob/0807f20bfc36b1f30828ed562c7f79e14b5f6100/deid/dicom/parser.py#L115
and the file meta here:
https:/

[2022-08-03 15:20] vsoch commented on #210
Yes of course! When you are back ping me I’d you have questions or want any help.

[2022-08-15 14:27] fcossio commented on #210
I'm back 😄

I will need to expose an argument to be able to silence these two lines.

I propose adding a boolean `from_file` argument to the `__init__` method of `DicomParser` and then using if-else statements to silence the lines accordingly.

For the `DicomField` part that needs to be silenced:

I can add the same argument to this method and skip the `dicom.file_meta` part accordingly.

https://

[2022-08-15 16:53] vsoch commented on #210
A dataset that doesn’t come from a file - what would it be?

[2022-08-15 17:34] fcossio commented on #210
I am loading a dataset that was stored in a database as json. Therefore it contains no filepath or file_meta.

[2022-08-15 18:00] vsoch commented on #210
Gotcha, ok just make functions to derive both of those items then, and if you cannot set to None, and make sure places that use them also respond appropriately.

[2022-08-28 15:12] #210 closed

[2022-08-29 19:13] jstorrs commented on #205
I don't know if this background information is helpful or not by private elements are tricky in DICOM because it's designed to allow multiple vendors to add private tags without stepping on each other's toes (if they do it correctly). Often people get things directly from modalities and don't encounter these things.

Generally we think of private tags as similar to DICOM standard tags as having fu

[2022-08-29 19:17] vsoch commented on #205
Ah that's handy! @moloney can you give me an example file and some set of actions you want to do and I can try this out?

[2022-08-29 19:55] jstorrs commented on #205
Not the OP but one thing that I'm working on is a custom function to clean the Siemens CSA headers at least to the point that the contents are vouched by the deidentifier and that dcm2niix/gdcm etc work as expected on the output. CSA headers don't seem to be terribly complex, but they are big and scary. Generally the approach is to just throw them out because they cannot be vouched (which is a big

[2022-08-29 20:22] vsoch commented on #205
@jstorrs if you get something working and would like to contribute here, it would be hugely welcome!

[2022-09-09 22:42] jstorrs commented on #205
I've been thinking about a couple approaches to this and a solution I'd like to try is to add a new `dictionary:` section to DICOM deid recipes. It would contain typical DICOM dictionary definition lines that define keywords and can be used to track the private creator. Basically the section would feed `pydicom.datadict.add_dict_entry()` and `pydicom.datadict.add_private_dict_entry()`. I'll start

[2022-09-10 00:58] vsoch commented on #205
That's a cool idea! Can you spec out an example for discussion?

[2022-09-23 07:49] NirutaDhimal opened #219 "Replace tags with VR PN in recipe"
Is there a way to replace only the tags with Value Representation "PN" using recipe?

[2022-09-23 07:57] vsoch commented on #219
Not yet, but this will be supported with https://github.com/pydicom/deid/pull/215

[2022-09-24 02:31] NirutaDhimal opened #220 "How can I get the value of a tag each dicom files in get_identifiers?"
How can I get the value of a tag of each dicom files in get_identifiers?

[2022-09-24 03:45] NirutaDhimal opened #221 "Save files in a fixed naming format"
After the replace_identifiers function is executed the files are stored in a format "PatientID_SOPInstanceID". But I want to store the file in this format "mask_modality_studyDate_instancenumber". here mask is the value that I replaced patientID with.
How can I do this?

[2022-09-24 04:09] vsoch commented on #220
That function returns a dictionary that has all fields -> values. https://pydicom.github.io/deid/examples/func-replace/

[2022-09-24 04:11] vsoch commented on #221
Save accepts a filename https://deid.readthedocs.io/en/latest/source/deid.dicom.html?highlight=save#deid.dicom.parser.DicomParser.save.

[2022-09-26 01:03] vsoch commented on #219
hey @NirutaDhimal ! This was just merged. See this page, https://pydicom.github.io/deid/user-docs/recipe-headers/

Sections -> Header -> Select

and that is the syntax you can use to select VR tags

![image](https://user-images.githubusercontent.com/814322/192174726-8a951c72-75a9-4aca-8a06-d3c1d4421459.png)

So I think you could do either of the following to blank (replace with nothing) or replace

[2022-09-27 10:30] RobinFrcd opened #222 "Anonymize pixel data"
Hello,
I'd like to anonymize pixel data in my dicom file.

If I understood well, this snippet should be enough, right ? Take from the [examples](https://github.com/pydicom/deid/blob/master/examples/dicom/pixels/run-cleaner-client.py)

[code]

The thing is, `summary` is empty: `{'flagged': False, 'results': []}` so nothing is happening.

What am I missing here ?
Thanks

[2022-09-27 10:58] RobinFrcd commented on #222
Alright,
It's because the model name I have is not handled in the default deid. Is it possible to add it ?

[code]

Thanks

[2022-09-27 13:58] vsoch commented on #222
Sure! Here is the file to PR to: https://github.com/pydicom/deid/blob/master/deid/data/deid.dicom

[2022-09-28 04:16] NirutaDhimal commented on #221
I am using replace_identifiers function. Is there a way for me to save the files in above naming pattern?

[2022-09-28 04:26] vsoch commented on #221
Through that interface, I would set `output_folder` from `None` to a temporary directory, and then rename them after to whatever you'd like.

[2022-09-28 04:45] NirutaDhimal commented on #221
Thanks

[2022-09-28 05:13] NirutaDhimal commented on #220
Hi, can you please specify which function? The above link took me to examples section

[2022-09-28 05:47] vsoch commented on #220
Look on that page at:

[code]
and see the example output below it. Try running it on your own to see the same.

[2022-09-28 05:48] #221 closed

[2022-09-28 05:54] NirutaDhimal commented on #220
Thanks

[2022-09-28 05:54] vsoch commented on #220
Sure thing! Closing, ping again if you need.

[2022-09-28 05:54] #220 closed

[2022-09-28 05:54] NirutaDhimal commented on #219
Thank you. It's working .

[2022-09-28 05:56] vsoch commented on #219
Woohoo! Great to hear - giving a shoutout to @jstorrs that just added this feature (good timing too!) Closing issue.

[2022-09-28 05:56] #219 closed

[2022-09-28 08:02] NirutaDhimal commented on #220
I tried to implement
items = get_identifiers(dicom_files, expand_sequences=True)
but I am getting error
![newerr1](https://user-images.githubusercontent.com/58328226/192723354-6c48f908-cf7c-4b37-98de-686172505990.png)
![newerr2](https://user-images.githubusercontent.com/58328226/192723404-26fcb2f2-c13c-44a1-ae84-1f824a2b6354.png)

[2022-09-28 09:47] vsoch commented on #220
Sorry about that must be a typo - the function has `strip_sequences` and not `expand_sequences`! https://github.com/pydicom/deid/blob/b1556a72c9fbfbfb7967da774e67057f7c437a02/deid/dicom/header.py#L25

[2022-09-28 09:55] vsoch commented on #220
And actually, it's a bug! It should be there - it was erroneously removed. I'll get a PR in to fix it asap!

[2022-09-28 10:17] vsoch commented on #220
ok it's fixed! If you are using the older version the default for expand_sequences (internal to the function) is True, so safe to just move it from the above. Thanks for catching the error!

[2022-09-28 10:47] RobinFrcd opened #225 "Really heavy package"
Hello,
I realized that the package is quite big (**27.2 MB** for the .tar.gz), would it be possible to lighten it ?

I assume the culprit here are the `.dcm` in the [data folder](https://github.com/pydicom/deid/tree/master/deid/data). This folder is only used for tests, right ? Would it be possible to move the tests and tests data out of the package folder in order not to ship it during the build

[2022-09-28 10:49] vsoch commented on #225
Agree! There is already an issue for this, but nobody has worked on it yet. https://github.com/pydicom/deid/issues/167 Ping @wetzelj to see if there is still interest. Closing here and we can continue conversation in https://github.com/pydicom/deid/issues/167

[2022-09-28 10:49] #225 closed

[2022-09-28 10:56] vsoch commented on #167
@wetzelj do you still want to work on this? I actually think it would be fine to creat a deid-data package too. If not I’m happy to take lead.

[2022-09-28 12:39] wetzelj commented on #167
Good Morning @vsoch & @RobinFrcd -  I won't object *at all* if you two want to take this on.  Unfortunately I haven't been able to circle back to this and I don't see it on the horizon anytime soon. :(

I've been keeping an eye on this project - LOTS of good stuff going on!  We're still using 0.2.28... The changes introduced since that version will be very handy when we have the opportunity to upg

[2022-09-28 14:58] wetzelj commented on #167
The separate pip install solution seems slightly more intuitive to me.   I'd prefer that approach - but honestly either would be good!

[2022-09-28 15:01] vsoch commented on #167
Gotcha. Thank you @wetzelj!

[2022-09-28 17:05] vsoch commented on #167
@wetzelj  take a look at my idea here: https://github.com/pydicom/deid/pull/227 and @RobinFrcd #226

For the first, that was also my first gut instinct - it's a bit simpler in the sense that deid-data is just an external package that anyone can install, and deid uses it for tests (and someone could arguably use it for their own use case). I think it might be preferable to have this format, primari

[2022-09-28 19:12] wetzelj commented on #167
I think this will be fine! Thanks for your work! :)

[2022-09-28 20:29] vsoch commented on #167
This is done! https://pypi.org/project/deid/0.2.36/ woot!

[2022-09-28 20:29] #167 closed

[2022-09-29 18:39] timothee-l opened #228 "US data corrupted by pixel anonymization"
Input is Ultrasound multiframes, decompressed (LittleEndianExplicit), RGB encoded.
Output is a scrambled image.

Instructions are very simple:
[code]
And my config file is also very basic
[code]

This is an input/output example. It is affecting all of the multiframes in the dataset:
https://imgur.com/a/GF7ZO2w

[2022-09-29 18:47] vsoch commented on #228
It looks like it's not cleaning the right dimension, or possibly saving incorrectly. I'm not sure we've ever done Ultrasound multiframes before (I'm not sure I've worked with them). Are you a Python developer and able to debug this and pull request?

[2022-09-29 19:14] wetzelj commented on #228
Seeing this issue pop through reminded me of #166.  I thought we handled this, but evidently not - or at least not the specific situation @timothee-l is encountering. I don't have the bandwidth to research - but thought it would be beneficial to add #166 into the discussion.

[2022-09-29 19:15] timothee-l commented on #228
I can give it a try.
To clarify, the tool has worked for me with US multiframes before - as long as they were RGB encoded (YBR also caused some sort of corruption).

[2022-09-29 19:16] vsoch commented on #228
I think step one, either way, is getting a test dummy dataset to reproduce the issue. @timothee-l is this something you could provide? We have an external data repository now https://github.com/pydicom/deid-data

[2022-09-29 19:41] timothee-l commented on #228
I can share the pixel data and other tags you may need - but not the whole dicom (I do not own the data)

[2022-09-29 19:51] vsoch commented on #228
Could you maybe make an empty dicom of that type and add the pixel data and tags to it? That would work!

[2022-09-30 06:45] NirutaDhimal opened #229 "get skull pixel data"
I am trying to mask everything outside skull region in brain. Is there a way I specify skull in the recipe without having to give the actual coordinates?

[2022-09-30 06:54] vsoch commented on #229
Are you using fMRI or nifti? If you are using dicom from brain imaging your best bet is to use more well established tools like FSL, SPM, or AFNI especially for masking. The tools here are primarily for other dicom like CT and ultrasound.

[2022-09-30 06:54] vsoch commented on #229
Take a look at BET in FSL as a good start.

[2022-09-30 06:58] NirutaDhimal commented on #229
Thank you. I am using dicom for brain imaging

[2022-09-30 07:00] vsoch commented on #229
Gotcha! So I’d check out those software suites and the nipy suite of tools. Most convert dicom to nifti and go from there.

[2022-09-30 07:01] NirutaDhimal commented on #229
Thanks. Is there a way to mask everything outside skull in deid module or to get the skull pixels?

[2022-09-30 07:02] vsoch commented on #229
That’s what a tool like BET is for.

[2022-09-30 07:03] NirutaDhimal commented on #229
Got it. Thanks for the help

[2022-09-30 07:12] NirutaDhimal commented on #229
Can I ask you something? I may sound stupid. What are we anonymizing while cleaning pixel data? Are we just removing the annotations?

[2022-09-30 07:22] vsoch commented on #229
Yes exactly. For modality like CT and ultrasound patient personal information and metadata is often burned into the images, and the machines do it in predictable locations so we can erase it. That’s also more typical in a clinical context so the images have patient information. At least for brain imaging studies, if there are any burnt pixels (it’s been a long time but I don’t remember the post pr

[2022-09-30 07:29] NirutaDhimal commented on #229
Thank you so much. It's really helpful and I am new to medical images.

[2022-09-30 07:32] vsoch commented on #229
Sure thing! Good luck and have fun. The tools are very good - most have both command line and GUI interfaces and pipelines (check out nipype for example) so you can script or click through multiple pipelines very easily. My biggest advice is to make sure to look at your data every step of the way, and (at least when I was learning) I liked to try something in a GUI first and then reproduce on the

[2022-09-30 14:46] timothee-l commented on #228
[sample.zip](https://github.com/pydicom/deid/files/9685432/sample.zip)

Here is a sample of the data I am trying to process.
I will try the files on your data repo.

[2022-09-30 15:56] vsoch commented on #228
Perfect! As long as I can reproduce your error, I should be able to debug and work on it.

[2022-09-30 17:45] vsoch commented on #228
stupid question - do you provide this to deid as a .zip, or just the dicom on its own?

[2022-09-30 17:59] timothee-l commented on #228
Just the dicom on its own

[2022-10-01 03:24] vsoch commented on #229
Going to close this @NirutaDhimal - thanks for stopping by!

[2022-10-01 03:24] #229 closed

[2022-10-01 04:00] vsoch commented on #228
okay I've reproduced! I've veriied the format is:

- 4D - shape = (frames, X, Y, channel) - RGB

and I've walked through the logic of clean. Nothing as jumping out at me as wrong, but indeed the image is mangled. @wetzelj do you have any ideas/ suggestions for what to try or look at, beyond the obvious?

[2022-10-01 08:44] NirutaDhimal opened #230 "Specify more than one coordinates in the filter"
I am trying to remove clean pixels of 2 -3 coordinates of a dicom file. How do I specify it in the filter ?
[
![err2](https://user-images.githubusercontent.com/58328226/193401096-f88c1d37-c1c2-401d-9ab2-d35d4245aa3b.png)
This is my filter But I want to clean pixels on bounding box 4,462,23,102. How do I add this in filter?

[2022-10-01 08:48] vsoch commented on #230
Here is an example of an entry with two coordinates: https://github.com/pydicom/deid/blob/master/deid/data/deid.dicom#L301-L308

[2022-10-01 08:56] NirutaDhimal commented on #230
I tried that but It's not working. Only the First coordinates were removed.

[2022-10-01 12:39] vsoch commented on #230
That's a bug then! Are you able to share some dummy data so I can use for a debuggig/test case?

[2022-10-01 12:42] vsoch commented on #230
Actually I have a good test case already! I should be able to work on this and propose a fix today - stay tuned!

[2022-10-01 14:13] NirutaDhimal commented on #230
I don't have any dummy data. Sorry for that. Thanks

[2022-10-01 17:51] vsoch commented on #230
@NirutaDhimal I tested the syntax with multiple coordinates and it appears to work as I'd expect (both sets show up):

[code]
I think very likely the issue is that you either have a bug in the bounding box you are asking for, or a "contains" statement that doesn't apply to your image. It's hard to debug beyond that without seeing your data. However, the format for the coordinates that I showed abo

[2022-10-03 13:55] wetzelj commented on #228
I didn't dive into the code for this response, but did run a few tests.

My speculation at this point is that it could be something to do with the fact that this image has undergone lossy compression at some point it it's lifetime - in all of my use cases, we've always dealt with images that have not undergone lossy compression.

I would expect that this image must be decompressed to get back to a

[2022-10-03 17:20] vsoch commented on #228
Tried that just now:

[code]
Didn't seem to make a difference (still messed up!) but was a good idea to try.

[2022-10-04 14:16] timothee-l commented on #228
There appears to be a mismatch between the pixel data (compressed) and the transfer syntax uid which says uncompressed, as you said. So yes the problems seem to originate from my data. I think the issue can be closed, Thanks!

[2022-10-04 15:48] #228 closed

[2022-10-06 02:10] NirutaDhimal commented on #230
@vsoch I printed client.detect() result and both set shows up in the coordinates. But when I did client.save(), the saved image still contains the text in the 2nd coordinate.
[
![err3](https://user-images.githubusercontent.com/58328226/194198629-7e0ecccd-dbe9-4a50-afb5-380f1886874c.png)
](url)

[2022-10-06 02:26] vsoch commented on #230
Did you do `client.clean()` ?

[2022-10-06 03:13] NirutaDhimal commented on #230
Yes, I did that. First I did client.detect() and then client.clean() and at last I did client.save()

[2022-10-06 03:16] vsoch commented on #230
I could help to debug but I’d need you to send me a dummy example (an image and recipe) that reproduces the error. Just to confirm - this is a 2D dicom?

perhaps you could take your image, make a copy that replaces identifiers, write all pixels as some single value (e.g the mean across the image) and then we would try to clean and write a different value?

[2022-10-06 04:49] NirutaDhimal commented on #230
Yes its a 2D dicom file and it has 3 channels. I will send yo the dummy data

[2022-10-06 05:18] DarylWM opened #231 "Error on get_files import"
Thanks for this handy library. I'm keen to use it but I'm a bit stuck on the import statement that's failing.

[code]
What have I missed?

[2022-10-06 05:24] vsoch commented on #231
This looks like a bug that was added with a new release - can you try the last two versions and see if it happens? I’ll get started on a fix here.

[2022-10-06 05:31] vsoch commented on #231
okay here is a branch with a fix to test (when tests pass!) https://github.com/pydicom/deid/pull/232 I had mixed feelings about adding custom typing - largely it is useful in some cases, but also can lead to bugs (as we see here). I think for the time being I'm happier not having it.

Give that branch a test - let me know if it works and I'll get a release in asap!

[2022-10-06 05:59] NirutaDhimal commented on #230
@vsoch This link has the dummy data and the deid.dicom file. Please find it.  I have created the dummy file by the process you described above.
[https://drive.google.com/drive/folders/1gwV6UwB44zq042pa6jmwlKZIANvKgTXV?usp=sharing](url)

[2022-10-06 06:23] DarylWM commented on #231
Thanks @vsoch, that branch has resolved the issue. I appreciate your prompt response.

[2022-10-06 06:27] vsoch commented on #230
Thank you @NirutaDhimal ! It's after midnight here, but I should be able to debug this (and get back to you) later tomorrow. Stay tuned!

[2022-10-06 06:30] vsoch commented on #231
Thank you for reporting the bug! The fix is now in https://pypi.org/project/deid/0.2.37/. Closing, and please open other issues that might arise - we did a bit of a refactor for the data and dicom clean functionality recently.

And just a note I'm off to bed, so any other issues I'll be back tomorrow!

[2022-10-06 06:30] #231 closed

[2022-10-08 02:53] NirutaDhimal commented on #230
@vsoch only one coordinates were removed from the dummy example when I tried it.
This is my code
![ss1](https://user-images.githubusercontent.com/58328226/194684585-a0bc1c8f-0a2e-4e88-9f64-355eb7a19e4f.png)
and this is the result
![ss2](https://user-images.githubusercontent.com/58328226/194684605-c7480931-013d-4704-9b26-6f4d86aea260.png)

[2022-10-08 02:57] vsoch commented on #230
Something is different between what you and I are doing because my results lists has three entries, and yours has one. Make sure you are using the master branch of deid and copying what I did exactly, and with the same file.

[2022-10-08 03:00] NirutaDhimal commented on #230
I installed deid using pip and I am working on the same file. I try to copy what you exactly did

[2022-10-08 03:03] vsoch commented on #230
Could it be that I used the default deid.dicom config and it covers the locations? Or should it have covered the top left?

[2022-10-08 03:11] NirutaDhimal commented on #230
Given your coordinates, it should have covered the top left and top right. Which deid.dicom file did you use? I haven't specified any group for this in the deid.dicom

{'reason': 'and Manufacturer contains GE Modality contains CT ManufacturerModelName contains GE|Stanford SeriesDescription contains Dose or ImageType contains SCREEN SAVE',
   'group': 'graylist',
   'coordinates': [[0, '0,0,512,121

[2022-10-08 03:13] vsoch commented on #230
Yes! So if the user doesn’t provide a custom recipe, we use this default, which is packaged with deid in the data folder. It seems that the headers in your dicom file triggered some of the default locations, but perhaps we are missing the top right? Should we try adding it? And where did you derive your metadata and coordinates from?

[2022-10-08 03:18] NirutaDhimal commented on #230
I copied your code and this what I am getting.
![ss3](https://user-images.githubusercontent.com/58328226/194685411-335a6f87-fbe0-49e6-8717-3466fb99dce1.png)
![aa3](https://user-images.githubusercontent.com/58328226/194685417-f61e34f6-ff50-4c06-986f-236cf2c3d655.png)

But I gave the the custom recipe. I used dcmdump on my original dcm file and derived the metadata and for coordinates I used itksnap

[2022-10-08 03:19] NirutaDhimal commented on #230
It's supposed to remove on top left and top right

[2022-10-08 03:33] vsoch commented on #230
Ah ok so our viewers are flipped!

What I'm seeing is that:

1. our viewers are flipped (I used the papaya viewer online, and those sections were on the right for me)
2. the default deid.dicom encompasses one of the sections you are interested in, and an additional one you didn't target.
3. the third section coodinates are still missing.

Now that I understand there should be another box on the ot

[2022-10-08 03:38] NirutaDhimal commented on #230
ok thanks for helping me

[2022-10-08 04:04] NirutaDhimal commented on #230
I used weasis viewer.

[2022-10-08 04:06] vsoch commented on #230
Quick question - how did you derive the second coordinate? The image is 1024 by 1024, and the coordinate format is two mins followed by two maxes, so if you expect it to blank out the top right I would have expected the mins to be smaller than the maxes. What appears to be happening is that you are "selecting" a box of empty pixels.

[2022-10-08 04:18] vsoch commented on #230
Okay so here is an example where I've adjusted your coordinates. There is probably a better way to describe it, but what I'm doing is shuffling around your coordinates so min values > max values, and extending the box to span your image (and remember my viewer is flipped). Trying to put this into human terms, I changed your recipe to:

[code]
So from the above, if either of the max values is less

[2022-10-08 04:19] NirutaDhimal commented on #230
coordinates are in this format (x,y,w,h) right? My second ccordinate is (737, 9, 271, 118) which means the bottom right of the bounding box is has pixel (1108,127) both of which are less than 1024

[2022-10-08 04:31] vsoch commented on #230
We follow the same convention as CTP: https://mircwiki.rsna.org/index.php?title=The_CTP_DICOM_Pixel_Anonymizer and you can see our original discussion here: https://gist.github.com/vsoch/df6957be12c34e62b21000603f1687e5 and documentation of it here: https://github.com/pydicom/deid/blob/27d46bb8851952fc3c6639d4675e254907085af7/deid/dicom/pixels/detect.py#L271-L282

Pinging @fimafurman and @wetzelj

[2022-10-08 04:42] NirutaDhimal commented on #230
I edited the format in which you specified and it worked.
![ss4](https://user-images.githubusercontent.com/58328226/194688416-a3b3d6c0-ece6-44b6-b187-9fc5f169a9fa.png)
But I followed the CTP convention. It's (x, y, w, h) where w, h is the width and height of the bounding box.
![ss5](https://user-images.githubusercontent.com/58328226/194688711-024fa27b-151a-4a3e-aa8a-9aa1e1e0ab22.png)
Thanks for he

[2022-10-08 04:51] vsoch commented on #230
Perfect! Let's wait to hear from @wetzelj and @fimafurman  before closing the issue! If we somehow used a modified format (and also CTP coordinates) we will likely want to tweak one or the other. For the time being, if this works correctly use the format we currently have. Thanks @NirutaDhimal !

[2022-10-08 10:05] NirutaDhimal opened #233 "ImportError: cannot import name 'clean_pixel_data' from 'deid.dicom.pixels'"
I am trying to import clean_pixel_data from deid.dicom.pixels but I got the importError.
And a quick question, Is it better to use DicomCleaner or clean_pixel_data while implementing multithreading?
![eer1](https://user-images.githubusercontent.com/58328226/194702156-ffb8d23c-16bf-4d46-a155-770165474e95.png)
![eer2](https://user-images.githubusercontent.com/58328226/194702172-02115a2d-9979-4260-ab

[2022-10-08 11:12] vsoch commented on #233
What exactly is the error? I cannot reproduce.

[2022-10-08 11:27] NirutaDhimal commented on #233
Its an ImportError: cannot import name 'clean_pixel_data' from 'deid.dicom.pixels'

[2022-10-08 11:30] vsoch commented on #233
okay - so look in the content of `deid/dicom/pixels/__init__.py` what is there?

[2022-10-08 11:31] vsoch commented on #233
I'm wondering if it's about your install or environment, because here is the import for me:

![image](https://user-images.githubusercontent.com/814322/194705298-3dac1d19-5ee3-4345-975f-0e30d1b11c8a.png)

[2022-10-08 11:44] NirutaDhimal commented on #233
This is the content of __init__.py. It doesn't have clean_pixel_data.
![eer3](https://user-images.githubusercontent.com/58328226/194705754-001a1ea8-4600-4c0a-a54d-e5d04ee1dfc9.png)

[2022-10-08 11:45] vsoch commented on #233
So based on that content, don’t you think the error message is a bit strange? There is something more to it. I’m afraid I cannot help if I can’t reproduce the error - can you give me enough to reproduce?

[2022-10-08 11:56] NirutaDhimal commented on #233
I don't know why it is deleted. I haven't touched it. I installed deid 0.2.33 version using pip. I added the clean_pixel_data in the init file.
![err4](https://user-images.githubusercontent.com/58328226/194706191-7f88d462-aa83-44a9-996b-90ac1e506a36.png)
But I got another error
![err5](https://user-images.githubusercontent.com/58328226/194706198-3f636367-6bde-426e-ba9c-e62a668b3810.png)
I think cl

[2022-10-08 12:15] NirutaDhimal commented on #233
Hi @vsoch Its working after I installed deid module of version 0.2.37. Thanks for helping me again. I really appreciated it :)

[2022-10-08 17:35] vsoch commented on #233
Sure thing! If you get an error like this in the future, a good way to debug is to sanity check things - e.g., if it's telling you that you can't import something, look there to see if the function name exists (as we did). And then compare your version against the latest in version control, or if it were something else (e.g, let's say you were running things with multiprocessing) you could try the

[2022-10-08 17:35] #233 closed

[2022-10-13 16:15] wetzelj commented on #230
In taking a look at the original discussion about this in deid, I *think* the coordinates are working as designed (xmin, ymin, xmax, ymax) - this has always been my understanding of how coordinates should be identified.  While we're still on deid v0.2.28, the following recipe:
[code]
Results in the the following image (pixel 0,0 is top left in my viewer):
![image](https://user-images.githubusercon

[2022-10-13 17:05] vsoch commented on #230
Agree!

So what about if we allow both - we have a "ctp" type of coordinate (that gets read differently) and we maintain the default (to not break people's workflows?) Or do you think it's better to have one standard, and fix up everything we do now to conform to that?

[2022-10-13 17:11] wetzelj commented on #230
Personally I think a new "ctp" type would be preferred over a "one standard".  To flip from our current pattern to the "ctp" would introduce a subtle breaking change - that I could envision people could miss very easily since it's just a behavior change.  If we did want to force a single standard, I would prefer to introduce ctp as a new type and then, if we really want it, at a later point in tim

[2022-10-13 17:13] vsoch commented on #230
Gotcha! The trick then will be figuring out which coordinate come from CTP. I can take a first pass at this if y'all are good with this approach.

[2022-10-13 23:14] vsoch commented on #230
okay please see https://github.com/pydicom/deid/pull/234

[2022-10-17 16:56] jstorrs commented on #205
Odd question and I don't know if anyone here has an answer... is it valid to use the same private creator string to be reused for multiple reservations in the same block? i.e. suppose you have:

(0021,0010) LO [MY PRIVATE CREATOR]
(0021,0011) LO [MY PRIVATE CREATOR]
(0021,0012) LO [MY PRIVATE CREATOR]
(0021,0013) LO [MY PRIVATE CREATOR]

I haven't been able to find anything in the standard that fo

[2022-10-17 17:04] jstorrs commented on #205
Edit: nevermind I just realized after posting the URL that I was looking at the 2013 version (somehow comes to the top of Google for me). The latest version forbids it and says if there's a need for some reason the implementation should use sequences.

https://dicom.nema.org/medical/dicom/current/output/chtml/part05/sect_7.8.html

[2022-10-17 17:33] jstorrs commented on #201
https://www.medicalconnections.co.uk/kb/Number-Of-Overlays-In-Image

In general, I think the most paranoid thing should be the default/supported. i.e. we should verify all unused bits in the pixel data are empty on output so that they cannot leak any information. I don't think we'd necessarily want to convert old overlays to new. That seems like something that should be added to pydicom itself if

[2022-10-18 21:03] wetzelj opened #235 "Minimum Required Versions - Python >=3.7; Numpy >= 1.20"
Hey @vsoch... I've been stale for a bit and have let my application lag at 0.2.28.  Looking to update now and came across this:

With the implementation of version 0.2.34 and the use of numpy.typing, a minimum python and numpy dependency has been introduced.  Typing was introduced in numpy version 1.20; numpy v1.20 requires Python >= 3.7.  Since you're currently working on #234, I thought you may

[2022-10-18 21:22] wetzelj commented on #235
I didn't know the answer to that either, but it looks like [python_requires](https://packaging.python.org/en/latest/guides/distributing-packages-using-setuptools/#python-requires) can be utilized to force a minimum python version.

[2022-10-18 21:26] vsoch commented on #235
Thanks @wetzelj ! I'll add these tweaks tonight, and bump the version more too.,

[2022-10-19 00:21] vsoch commented on #235
okay should be pushed!

[2022-10-19 13:29] wetzelj commented on #235
What version of Python do you typically target for deid?

[2022-10-19 13:35] vsoch commented on #235
I would say likely 3.7? On my own machine I always have a newer one (I use anaconda and venv and nuke the entire thing once in a while) so I am usually at 3.8x or 3.9x.

[2022-10-21 03:34] vsoch commented on #235
This is salient too https://twitter.com/dopplershift/status/1583155587202060289?s=46&t=ecqNKSKpOPG5Za95IhmhLg

[2022-11-10 16:48] vsoch commented on #201
We can do almost anything if someone can show me a dummy example in code. ;)

[2022-11-10 17:16] jstorrs commented on #201
Basically what happens in the old-school overlays is that the images you have "Bits Allocated" and "Bits Stored". This is a pixel-by-pixel setting and Bits Stored can be smaller than Bits Allocated (may not be accurate I'm just working from memory). So, for example, if you have 16-bits allocated per pixel and 14-bits stored that leave two extra bits that are unused and can be used for storing over

[2022-11-11 23:04] howff commented on #201
I think we need four options.  The original author of this issue probably wants option 1.

1. unpack the image pixels, zero-out the high bits, re-write the file. That will ensure the image is safe from having overlays hidden in the high bits that most other deidentification software fails to remove.

2. unpack the image pixels, burn the overlays hidden in the high bits onto the image pixels, zero-

[2022-11-16 17:21] tompollard opened #236 "Update documentation with correct package name ("deid-data" -> "deid")"
It looks like the package name was changed from "deid-data" to "deid" at some point. The documentation still lists the old package name ("deid-data") in places, which leads to import errors.

For example, see: https://pydicom.github.io/deid/getting-started/dicom-loading/ (rendered from https://github.com/pydicom/deid/blob/master/docs/_docs/getting-started/dicom-loading.md):

It would be helpful to

[2022-11-16 17:25] vsoch commented on #236
Sorry I don’t follow - deid is the main package name, and deid-data is just the data component. We separated the two because the data was getting large. They are different things.

[2022-11-16 17:48] tompollard commented on #236
Hi @vsoch, thanks for quick reply. Apologies, I'd misunderstood the relationship between the two packages and how they were intended to be used. Makes sense now, so I'll close this issue!

[2022-11-16 17:48] #236 closed

[2022-11-21 17:36] vsoch opened #238 "Add pre-commit for linting"
After work for #237 is finished!

[2022-11-22 00:53] vsoch commented on #230
We just merged the fix that should resolve this - thanks everyone!

[2022-11-22 00:53] #230 closed

[2022-11-22 00:53] vsoch commented on #235
@wetzelj good to close here?

[2022-11-22 13:06] wetzelj commented on #235
Yep.  Thank you!

[2022-11-22 13:06] #235 closed

[2022-11-22 13:07] vsoch commented on #235
It was all you - so thank you!

[2022-11-23 16:57] howff commented on #201
This handles option 1, as the original poster wanted.
Does the code handle all cases?
It doesn't recompress, and I'm not sure I'm setting the transfer syntax correctly.

[code]

[2022-11-23 19:38] vsoch commented on #201
@moloney would you care to test this out to see if it fits your use case, and give feedback to @howff ? I think we could likely provide this as a custom deid-provided function if it's useful.

[2022-11-24 01:05] javitab opened #240 "Photometric Interpretation of the dataset is YBG_FULL_422 [...] You may need to change the Photometric Interpretation to the correct value"
I'm trying to use DicomCleaner, I do my detect, followed by the clean and save, however, I get the below error message which appears to be coming from pydicom, not sure if this issue should go under there. I find that I am successful with, for example, a demographics page (RGB), however, any of the other dcm files that do indeed have a Photometric Interpretation of YBG_FULL_422 throw the below err

[2022-11-24 01:20] vsoch commented on #240
I'm not sure - I would test loading / interacting with the dataset first and seeing if it's an issue with pydicom or within deid. If it's within deid, then we should figure out what changes are being done to lead to the issue. My suggestion:

1. Try loading / saving with pydicom alone to see if it reproduces
2. You might want to open an issue over there anyway to see if the core devs have feedback

[2022-11-24 14:40] howff commented on #201
Here's a sample program which implements all required options.
https://gist.github.com/howff/bcb104a3486fdc8a2dd6c2134ad4a0f0
I've tested it on a few images (multiple frames, multiple overlays in high-bits, multiple separate overlays).
Please can someone review it?
@vsoch

[2022-11-24 16:02] johnavitable commented on #240
I'm fairly new to pydicom at large, I will try loading and saving with only pydicom and see what my luck is. You're suggesting just the act of loading the files and writing them back out with minimal to no changes, correct?

[2022-11-24 21:00] vsoch commented on #201
@howff I think we need the original issue poster @moloney to test it out - I don't have any dicom data hanging around with this issue to test.

[2022-11-24 21:01] vsoch commented on #240
Yes! And then ping the pydicom maintainers in case they have an idea. Probably you'll wind up back here, and in which case I'll need a dummy dataset to reproduce your error and then be able to work on.

And no worries about being new to pydicom - welcome!

[2022-11-28 15:15] wetzelj opened #241 "BLANK Action only applicable to US and SS VRs"
While performing some testing, I noticed that the BLANK action is currently limited to only the SS (Signed Short) and US (Unsigned Short) VRs.  Do you think that this restriction can/should be removed?

[2022-11-28 18:25] vsoch commented on #240
+1! I hope you can provide us with a dataset to reproduce @johnavitable. I'm suspicious of the same.

[2022-11-28 18:30] vsoch commented on #241
If the others are BLANK-able, then yes it should! I don't remember why this would be the case - it must have been added and I missed the error. Feel free to open a PR to fix!

[2022-11-28 19:18] wetzelj commented on #241
Ok... Feel free to assign this to me.  I've already started working on it along with a set of new unit tests that I've been thinking about.

I want to have a very explicit set of tests which validates the interactions between two rules on the same field - and then I'll update the docs with a table of rule interactions and expected results.

[2022-11-28 20:46] howff commented on #201
A good way of testing pydicom is to use the sample files in https://sourceforge.net/projects/gdcm/files/gdcmData/ and https://sourceforge.net/projects/gdcm/files/gdcmConformanceTests/  Some filenames from these sets are in the script. You can also get sample files, such as multi-frame images, from https://gdcm.sourceforge.net/wiki/index.php/Sample_DataSet (I used the first link on that page).

[2022-11-28 20:48] vsoch commented on #201
Yes, but we do need the original poster as the source of truth to test and report that the issue is fixed or not.

[2022-11-28 21:00] javitab commented on #240
So, in an effort to do a sanity check, I ran over the dicom cookies dataset and actually encountered the same issue, it would appear this is not specific to any datasets of my own. The dicom cookies actually are all YBR_FULL_422 as well. I've tried a variety of versions of python, though the latest I tried with dicom cookies was 3.10.7.

In running through dicom cookies, it throws the error in ima

[2022-11-28 22:59] vsoch commented on #240
Thanks @javitab! I'll add this to my list of TODO but it's quite chonky at the moment so I might not get to testing it out immediately. Thanks for figuring out a reproducing case! We did recently have changes to the cleaner (the coordinate system was off I think) so I wouldn't be surprised if there is a bug.

[2022-11-28 23:04] javitab commented on #240
Thanks, that sounds plausible to me. I think I saw an instance or two where there was an RGB image that was almost viewable, but the "green" layer was skewed, if that makes sense.

[2022-11-30 03:25] vsoch commented on #240
Okay got a chance to run this, and on the dicom cookies as you suggested! I don't think I see the error block?

[code]

But I'm not sure these are the best reproducing cases to test - these were fake images I made, mostly for the header parsing.

![image](https://user-images.githubusercontent.com/814322/204699891-26b1b621-9264-4887-b739-e433e0741611.png)

Do we have a reproducing image that wasn't